﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Persona.ascx.cs" Inherits="WebControls_Visualizzazione_Persona" %>
<table class="tabellaConBordo" width="100%">
    <tr>
        <td colspan="3">
            <b>
                Persona
            </b>
        </td>
    </tr>
    <tr>
        <td>
            Cognome<b>*</b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaCognome" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorTextBoxPersonaCognome"
                runat="server"
                ErrorMessage="Cognome mancante"
                ValidationGroup="stop"
                ControlToValidate="TextBoxPersonaCognome">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Nome<b>*</b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaNome" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorTextBoxPersonaNome"
                runat="server"
                ErrorMessage="Nome mancante"
                ValidationGroup="stop"
                ControlToValidate="TextBoxPersonaNome">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Codice fiscale<b>*</b>:
        </td>
        <td>
            <asp:TextBox ID="TextBoxPersonaCodiceFiscale" runat="server" Width="300px" MaxLength="16"></asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorTextBoxPersonaCodiceFiscale"
                runat="server"
                ErrorMessage="Codice fiscale mancante"
                ValidationGroup="stop"
                ControlToValidate="TextBoxPersonaCodiceFiscale">
                *
            </asp:RequiredFieldValidator>
            <asp:RegularExpressionValidator 
                ID="RegularExpressionPersonaCodiceFiscale" 
                runat="server" 
                ControlToValidate="TextBoxPersonaCodiceFiscale"
                ErrorMessage="Codice fiscale della persona non corretto" 
                ValidationExpression="^[A-Za-z]{6}[\d]{2}[A-Za-z][\d]{2}[A-Za-z\d]{5}$"
                ValidationGroup="stop">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td>
            Indirizzo<b>*</b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaIndirizzo" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorTextBoxPersonaIndirizzo"
                runat="server"
                ErrorMessage="Indirizzo mancante"
                ValidationGroup="stop"
                ControlToValidate="TextBoxPersonaIndirizzo">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Provincia<b>*</b>:
        </td>
        <td>
            <asp:DropDownList
                ID="DropDownListPersonaProvincia"
                runat="server"
                Width="300px"
                AppendDataBoundItems="true"
                AutoPostBack="true"
                onselectedindexchanged="DropDownListPersonaProvincia_SelectedIndexChanged">
            </asp:DropDownList>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorTextBoxPersonaProvincia"
                runat="server"
                ErrorMessage="Provincia mancante"
                ValidationGroup="stop"
                ControlToValidate="DropDownListPersonaProvincia">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Città<b>*</b>:
        </td>
        <td>
            <asp:DropDownList
                ID="DropDownListPersonaComune"
                runat="server"
                Width="300px"
                AppendDataBoundItems="true">
            </asp:DropDownList>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorTextBoxPersonaCitta"
                runat="server"
                ErrorMessage="Città mancante"
                ValidationGroup="stop"
                ControlToValidate="DropDownListPersonaComune">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Cap:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaCap" 
                runat="server" 
                Width="300px" 
                MaxLength="5">
            </asp:TextBox>
        </td>
        <td>
            <asp:RegularExpressionValidator
                ID="RegularExpressionValidatorPersonaCap"
                runat="server"
                ControlToValidate="TextBoxPersonaCap"
                ErrorMessage="Cap della persona non corretto"
                ValidationGroup="stop"
                ValidationExpression="^\d{5}$">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td>
            Telefono<b>*</b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaTelefono" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorTelefono"
                runat="server"
                ControlToValidate="TextBoxPersonaTelefono"
                ErrorMessage="Telefono mancante"
                ValidationGroup="stop">
            *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Fax:
        </td>
        <td>
            <asp:TextBox ID="TextBoxPersonaFax" runat="server" Width="300px" MaxLength="50"></asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Cellulare:
        </td>
        <td>
            <asp:TextBox ID="TextBoxPersonaCellulare" runat="server" Width="300px" MaxLength="50"></asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            <asp:TextBox ID="TextBoxPersonaEmail" runat="server" Width="300px" MaxLength="50"></asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <b>
                Ente
            </b>
        </td>
    </tr>
    <tr>
        <td>
            Ragione sociale:
        </td>
        <td>
            <asp:TextBox ID="TextBoxEnteRagioneSociale" runat="server" Width="300px" MaxLength="255"></asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Partita IVA:
        </td>
        <td>
            <asp:TextBox ID="TextBoxEntePartitaIva" runat="server" Width="300px" MaxLength="11"></asp:TextBox>
        </td>
        <td>
            <asp:CustomValidator
                ID="CustomValidatorEntePartitaIvaFormato"
                runat="server"
                ControlToValidate="TextBoxEntePartitaIva"
                ValidationGroup="stop"
                ErrorMessage="Partita Iva dell'ente non valida" 
                onservervalidate="CustomValidatorEntePartitaIvaFormato_ServerValidate">
                *
            </asp:CustomValidator>
        </td>
    </tr>
    <tr>
        <td>
            Codice fiscale:
        </td>
        <td>
            <asp:TextBox ID="TextBoxEnteCodiceFiscale" runat="server" Width="300px" MaxLength="16"></asp:TextBox>
        </td>
        <td>
            <asp:RegularExpressionValidator 
                ID="RegularExpressionValidatorEnteCodiceFiscale" 
                runat="server" 
                ControlToValidate="TextBoxEnteCodiceFiscale"
                ErrorMessage="Codice fiscale dell'ente non corretto" 
                ValidationExpression="^[A-Za-z]{6}[\d]{2}[A-Za-z][\d]{2}[A-Za-z\d]{5}|\d{11}$"
                ValidationGroup="stop">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <b>
                Sede legale
            </b>
        </td>
    </tr>
    <tr>
        <td>
            Indirizzo:
        </td>
        <td>
            <asp:TextBox ID="TextBoxEnteIndirizzo" runat="server" Width="300px" MaxLength="50"></asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Provincia:
        </td>
        <td>
            <asp:DropDownList
                ID="DropDownListEnteProvincia"
                runat="server"
                Width="300px"
                AppendDataBoundItems="true"
                AutoPostBack="true" 
                onselectedindexchanged="DropDownListEnteProvincia_SelectedIndexChanged">
            </asp:DropDownList>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Città:
        </td>
        <td>
            <asp:DropDownList
                ID="DropDownListEnteComune"
                runat="server"
                Width="300px"
                AppendDataBoundItems="true">
            </asp:DropDownList>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Cap:
        </td>
        <td>
            <asp:TextBox ID="TextBoxEnteCap" runat="server" Width="300px" MaxLength="5"></asp:TextBox>
        </td>
        <td>
            <asp:RegularExpressionValidator
                ID="RegularExpressionValidatorEnteCap"
                runat="server"
                ControlToValidate="TextBoxEnteCap"
                ErrorMessage="Cap dell'ente non corretto"
                ValidationGroup="stop"
                ValidationExpression="^\d{5}$">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td>
            Telefono:
        </td>
        <td>
            <asp:TextBox ID="TextBoxEnteTelefono" runat="server" Width="300px" MaxLength="50"></asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Fax:
        </td>
        <td>
            <asp:TextBox ID="TextBoxEnteFax" runat="server" Width="300px" MaxLength="50"></asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
</table>