﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="GestionePinDefault.aspx.cs" Inherits="GestionePinDefault" %>


<%@ Register src="WebControls/MenuGestionePin.ascx" tagname="MenuGestionePin" tagprefix="uc1" %>



<asp:Content ID="Content1" runat="server" contentplaceholderid="MainPage">
    <p>
    In questa area è possibile gestire i PIN di Lavoratori, Imprese e Consulenti</p>
</asp:Content>
<asp:Content ID="Content2" runat="server" contentplaceholderid="MenuDettaglio">
    <uc1:MenuGestionePin ID="MenuGestionePin1" runat="server" />
</asp:Content>



