<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ReportStampa.aspx.cs" Inherits="ReportStampa" %>

<%@ Register Src="stampaGruppi.ascx" TagName="stampaGruppi" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Report</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="LabelTitolo" runat="server" Font-Bold="True" Font-Size="Medium" Text="Label"></asp:Label><br />
        <uc1:stampaGruppi id="StampaGruppi1" runat="server">
        </uc1:stampaGruppi>
        &nbsp;</div>
    </form>
</body>
</html>
