﻿.navbar-fixed-top {
    background: transparent !important;
    border-bottom: none !important;
    /*transition-duration: 0.4s;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 234, 236);
    z-index: 2030;*/
}

.fixed-nav.skin-1 {
    background: transparent;
}

body.skin-1 {
    background-color: white;
}

td, th {
    padding: 2px;
}

A, A:visited, a:focus {
    color: #AF0000;
    text-decoration: none;
    font-weight: bold;
}

A:HOVER, A:ACTIVE {
    color: #ff0000;
    text-decoration: underline;
    font-weight: bold;
}

A img {
    text-decoration: none;
    border: none;
}

A:HOVER img {
    text-decoration: none;
    border: none;
}

.navbar-default {
     -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.0), 0 1px 5px rgba(0,0,0,.0);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.00), 0 1px 5px rgba(0,0,0,.0);
}

.skin-1 .navbar-minimalize {
    font-size: small;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #E3E3E3;
    border-color: #E3E3E3;
    color: #CD071E;
}

#divCollapseMenu {
    padding-left: 0px;
    padding-right: 5px;
}

.pace .pace-progress {
    background: #cd071e;
}

button, input, optgroup, select, textarea {
    color: black;
}