﻿/** Pages customization**/
/*Footer*/

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.rowTelerikForm {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.rowTelerikMainForm {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.siteTitle span {
  display: none;
}
.siteTitle:after {
  content: 'SiceInfo';
}
.siteCustomer span {
  display: none;
}
.siteCustomer:after {
  content: 'CEMI';
}
.siteYear span {
  display: none;
}
.siteYear:after {
  content: '2018';
}
/*End footer*/

/* Main page*/
.logo-img{
    padding-left: 10px;
    padding-top: 10px;
}
.noborderselect {
    border-style:none;
}
.paddingtop {
  padding-top: 20px;
}
.btn-w-s {
  min-width: 110px;
}
.wcpc {
  width: 100%;
}
.borderfiori{
  border-color: #c9c9c9;
}
.bbsolid{
    border-bottom-style: solid;
}
.skin-1 .nav-header {
  background-color: #CD071E;
  background-image: url('../MyApp/Images/header-profile-skin-custom.png');
  height: 77px;
}
.skin-1 .navbar-minimalize {
    background: #CD071E;
    border-color: #CD071E;
}

.skin-1 .nav-header .navbar-fixed-top a {
    color: #263949;
}

.skin-1 .navbar-fixed-top, .md-skin .navbar-static-top {
    background-color: #F3F3F4 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.pace .pace-progress {
    visibility: hidden;
    background: #CD071E;
    position: fixed;
    z-index: 2040;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.red-bg {
    background-color: rgba(205, 7, 30, 0.8);
    color: #ffffff;
}


.btn-primary {
    background-color: #CD071E;
    border-color: #CD071E;
    color: #FFFFFF;
}

.fullWidth {
    width: 100%;
}

.btn-primary.btn-outline {
    color: #CD071E;
}

.btn-primary {
    background-color: #CD071E;
    border-color: #CD071E;
    color: #FFFFFF;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
        background-color: #CD071E;
        border-color: #CD071E;
        color: #FFFFFF;
    }

.k-state-selected {
    background-color: #b6bdca;
    border-color: #b6bdca;
}

.fullWidth {
    width: 100%;
}

/*End Main page*/
.myButtonBig {
    background-color: #CD071E;
    color: white;
    min-width: 100% !important;
}

.myButton {
    background-color: #CD071E;
    color: white;
    /*min-width: 100px !important;*/
}





/** End pages customization**/


