﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Prova2.aspx.cs" Inherits="IscrizioneCEComo_Prova2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Inserimento effettuato
        <br />
        <asp:LinkButton
            ID="LinkButtonPdf"
            runat="server"
            Text="Moduli.pdf" onclick="LinkButtonPdf_Click">
        </asp:LinkButton>
    </div>
    </form>
</body>
</html>
