﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TuteScarpeConsulenteImpresaSelezionata.ascx.cs" Inherits="Cemi.SiceInfo.Web.CeServizi.TuteScarpe.WebControls.TuteScarpeConsulenteImpresaSelezionata" %>
<table class="borderedTable">
    <tr>
    <tr><td colspan="2"><b>Attualmente stai gestendo l'impresa:</b></td></tr>
        <td>
            <asp:Label ID="Label1" runat="server" Text="Cod.Impresa:"></asp:Label>
        </td>
        <td>
            <asp:Label ID="LabelIdImpresa" runat="server" Text=""></asp:Label>
        </td>
    </tr>
    <tr>
        <td>
            <asp:Label ID="Label2" runat="server" Text="Ragione sociale:"></asp:Label>
        </td>
        <td>
            <asp:Label ID="LabelRagioneSociale" runat="server" Text=""></asp:Label>
        </td>
    </tr>
</table>