﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Committente.ascx.cs" Inherits="WebControls_Visualizzazione_Committente" %>
<table class="tabellaConBordo" width="100%">
    <%--<tr>
        <td>
            Tipologia<b>*</b>:
        </td>
        <td>
            <asp:DropDownList 
                ID="DropDownListTipologia" 
                runat="server" 
                Width="300px"
                AppendDataBoundItems="true">
            </asp:DropDownList>
        </td>
        <td>
            <asp:RequiredFieldValidator 
                ID="RequiredFieldValidatorTipologia"
                runat="server"
                ControlToValidate="DropDownListTipologia"
                ValidationGroup="stop"
                ErrorMessage="Selezionare la tipologia di committente">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>--%>
    <tr>
        <td colspan="3">
            <b>
                Persona Fisica
            </b>
        </td>
    </tr>
    <tr>
        <td>
            Cognome<b><asp:Label ID="LabelCognome" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaCognome" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator 
                ID="RequiredFieldValidatorPersonaCognome"
                runat="server"
                ControlToValidate="TextBoxPersonaCognome"
                ValidationGroup="stop"
                ErrorMessage="Cognome della persona mancante">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Nome<b><asp:Label ID="LabelNome" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaNome" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator 
                ID="RequiredFieldValidatorPersonaNome"
                runat="server"
                ControlToValidate="TextBoxPersonaNome"
                ValidationGroup="stop"
                ErrorMessage="Nome della persona mancante">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Codice fiscale<b><asp:Label ID="LabelCodiceFiscale" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaCodiceFiscale" 
                runat="server" 
                Width="300px" 
                MaxLength="16">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator 
                ID="RequiredFieldValidatorPersonaCodiceFiscale"
                runat="server"
                ControlToValidate="TextBoxPersonaCodiceFiscale"
                ValidationGroup="stop"
                ErrorMessage="Codice fiscale della persona mancante">
                *
            </asp:RequiredFieldValidator>
            <asp:RegularExpressionValidator 
                ID="RegularExpressionPersonaCodiceFiscale" 
                runat="server" 
                ControlToValidate="TextBoxPersonaCodiceFiscale"
                ErrorMessage="Codice fiscale della persona non corretto" 
                ValidationExpression="^[A-Za-z]{6}[\d]{2}[A-Za-z][\d]{2}[A-Za-z\d]{5}$"
                ValidationGroup="stop">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td>
            Indirizzo<b><asp:Label ID="LabelIndirizzo" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaIndirizzo" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator 
                ID="RequiredFieldValidatorPersonaIndirizzo"
                runat="server"
                ControlToValidate="TextBoxPersonaIndirizzo"
                ValidationGroup="stop"
                ErrorMessage="Indirizzo della persona mancante">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Provincia<b><asp:Label ID="LabelProvincia" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:DropDownList
                ID="DropDownListPersonaProvincia"
                runat="server"
                Width="300px"
                AppendDataBoundItems="true"
                AutoPostBack="true"
                onselectedindexchanged="DropDownListPersonaProvincia_SelectedIndexChanged">
            </asp:DropDownList>
        </td>
        <td>
            <asp:RequiredFieldValidator 
                ID="RequiredFieldValidatorPersonaProvincia"
                runat="server"
                ControlToValidate="DropDownListPersonaProvincia"
                ValidationGroup="stop"
                ErrorMessage="Selezionare la provincia della persona">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Città<b><asp:Label ID="LabelCitta" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:DropDownList
                ID="DropDownListPersonaComune"
                runat="server"
                Width="300px"
                AppendDataBoundItems="true">
            </asp:DropDownList>
        </td>
        <td>
            <asp:RequiredFieldValidator 
                ID="RequiredFieldValidatorPersonaCitta"
                runat="server"
                ControlToValidate="DropDownListPersonaComune"
                ValidationGroup="stop"
                ErrorMessage="Selezionare la città della persona">
                *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Cap<b><asp:Label ID="LabelCap" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaCap" 
                runat="server" 
                Width="300px" 
                MaxLength="5">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator 
                ID="RequiredFieldValidatorPersonaCap"
                runat="server"
                ControlToValidate="TextBoxPersonaCap"
                ValidationGroup="stop"
                ErrorMessage="Cap della persona mancante">
                *
            </asp:RequiredFieldValidator>
            <asp:RegularExpressionValidator
                ID="RegularExpressionValidatorPersonaCap"
                runat="server"
                ControlToValidate="TextBoxPersonaCap"
                ErrorMessage="Cap della persona non corretto"
                ValidationGroup="stop"
                ValidationExpression="^\d{5}$">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td>
            Telefono<b><asp:Label ID="LabelTelefono" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaTelefono" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorPersonaTelefono"
                runat="server"
                ControlToValidate="TextBoxPersonaTelefono"
                ValidationGroup="stop"
                ErrorMessage="Telefono della persona mancante">
            *
            </asp:RequiredFieldValidator>
        </td>
    </tr>
    <tr>
        <td>
            Fax:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaFax" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Cellulare:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaCellulare" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Email<b><asp:Label ID="LabelEmail" runat="server" Text="*"></asp:Label></b>:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxPersonaEmail" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:RequiredFieldValidator
                ID="RequiredFieldValidatorPersonaEmail"
                runat="server"
                ControlToValidate="TextBoxPersonaEmail"
                ValidationGroup="stop"
                ErrorMessage="Email della persona mancante">
            *
            </asp:RequiredFieldValidator>
            <asp:RegularExpressionValidator 
                ID="RegularExpressionValidatorPersonaEmail" 
                runat="server" 
                ErrorMessage="Email della persona non corretta" 
                ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"
                ValidationGroup="stop"
                ControlToValidate="TextBoxPersonaEmail">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <b>
                Ente/Azienda/Stazione Appaltante
            </b>
        </td>
    </tr>
    <tr>
        <td>
            Ragione sociale:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxEnteRagioneSociale" 
                runat="server" 
                Width="300px" 
                MaxLength="500" 
                Height="50px" 
                TextMode="MultiLine">
            </asp:TextBox>
        </td>
        <td>
            <asp:CustomValidator 
                ID="CustomValidatorEnteRagioneSociale"
                runat="server"
                ControlToValidate="TextBoxEnteRagioneSociale"
                ValidationGroup="stop"
                ErrorMessage="Cognome e Nome della persona o ragione sociale dell'ente mancante" 
                onservervalidate="CustomValidatorEnteRagioneSociale_ServerValidate"
                ValidateEmptyText="true">
                *
            </asp:CustomValidator>
        </td>
    </tr>
    <tr>
        <td>
            Partita IVA:
        </td>
        <td>
            <asp:TextBox ID="TextBoxEntePartitaIva" runat="server" Width="300px" MaxLength="11"></asp:TextBox>
        </td>
        <td>
            <asp:CustomValidator 
                ID="CustomValidatorEntePartitaIva"
                runat="server"
                ControlToValidate="TextBoxEntePartitaIva"
                ValidationGroup="stop"
                ErrorMessage="Partita Iva dell'ente mancante" 
                onservervalidate="CustomValidatorEntePartitaIva_ServerValidate"
                ValidateEmptyText="true">
                *
            </asp:CustomValidator>
            <asp:CustomValidator
                ID="CustomValidatorEntePartitaIvaFormato"
                runat="server"
                ControlToValidate="TextBoxEntePartitaIva"
                ValidationGroup="stop"
                ErrorMessage="Partita Iva dell'ente non valida" 
                onservervalidate="CustomValidatorEntePartitaIvaFormato_ServerValidate">
                *
            </asp:CustomValidator>
        </td>
    </tr>
    <tr>
        <td>
            Codice fiscale:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxEnteCodiceFiscale" 
                runat="server" 
                Width="300px" 
                MaxLength="16">
            </asp:TextBox>
        </td>
        <td>
            <asp:RegularExpressionValidator 
                ID="RegularExpressionValidatorEnteCodiceFiscale" 
                runat="server" 
                ControlToValidate="TextBoxEnteCodiceFiscale"
                ErrorMessage="Codice fiscale dell'ente non corretto" 
                ValidationExpression="^[A-Za-z]{6}[\d]{2}[A-Za-z][\d]{2}[A-Za-z\d]{5}|\d{11}$"
                ValidationGroup="stop">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <b>
                Sede legale
            </b>
        </td>
    </tr>
    <tr>
        <td>
            Indirizzo:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxEnteIndirizzo" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:CustomValidator 
                ID="CustomValidatorEnteIndirizzo"
                runat="server"
                ControlToValidate="TextBoxEnteIndirizzo"
                ValidationGroup="stop"
                ErrorMessage="Indirizzo dell'ente mancante" 
                onservervalidate="CustomValidatorEnteIndirizzo_ServerValidate"
                ValidateEmptyText="true">
                *
            </asp:CustomValidator>
        </td>
    </tr>
    <tr>
        <td>
            Provincia:
        </td>
        <td>
            <asp:DropDownList
                ID="DropDownListEnteProvincia"
                runat="server"
                Width="300px"
                AppendDataBoundItems="true"
                AutoPostBack="true" 
                onselectedindexchanged="DropDownListEnteProvincia_SelectedIndexChanged">
            </asp:DropDownList>
        </td>
        <td>
            <asp:CustomValidator 
                ID="CustomValidatorEnteProvincia"
                runat="server"
                ControlToValidate="DropDownListEnteProvincia"
                ValidationGroup="stop"
                ErrorMessage="Selezionare la provincia dell'ente" 
                onservervalidate="CustomValidatorEnteProvincia_ServerValidate"
                ValidateEmptyText="true">
                *
            </asp:CustomValidator>
        </td>
    </tr>
    <tr>
        <td>
            Città:
        </td>
        <td>
            <asp:DropDownList
                ID="DropDownListEnteComune"
                runat="server"
                Width="300px"
                AppendDataBoundItems="true">
            </asp:DropDownList>
        </td>
        <td>
            <asp:CustomValidator 
                ID="CustomValidatorEnteCitta"
                runat="server"
                ControlToValidate="DropDownListEnteComune"
                ValidationGroup="stop"
                ErrorMessage="Selezionare la citta dell'ente" 
                onservervalidate="CustomValidatorEnteCitta_ServerValidate"
                ValidateEmptyText="true">
                *
            </asp:CustomValidator>
        </td>
    </tr>
    <tr>
        <td>
            Cap:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxEnteCap" 
                runat="server" 
                Width="300px" 
                MaxLength="5">
            </asp:TextBox>
        </td>
        <td>
            <asp:RegularExpressionValidator
                ID="RegularExpressionValidatorEnteCap"
                runat="server"
                ControlToValidate="TextBoxEnteCap"
                ErrorMessage="Cap dell'ente non corretto"
                ValidationGroup="stop"
                ValidationExpression="^\d{5}$">
                *
            </asp:RegularExpressionValidator>
        </td>
    </tr>
    <tr>
        <td>
            Telefono:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxEnteTelefono" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
            <asp:CustomValidator
                ID="CustomValidatorEnteTelefono"
                runat="server"
                ControlToValidate="TextBoxEnteTelefono"
                ErrorMessage="Telefono dell'ente mancante"
                ValidationGroup="stop" 
                onservervalidate="CustomValidatorEnteTelefono_ServerValidate">
            *
            </asp:CustomValidator>
        </td>
    </tr>
    <tr>
        <td>
            Fax:
        </td>
        <td>
            <asp:TextBox 
                ID="TextBoxEnteFax" 
                runat="server" 
                Width="300px" 
                MaxLength="50">
            </asp:TextBox>
        </td>
        <td>
        </td>
    </tr>
</table>
