﻿@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "Cantieri";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-4">
        <div class="text-left">
            <h2>
                <b> Cantieri </b> / <small>Mappa</small>
            </h2>
        </div>
    </div>
    <div class="col-md-8 row rowTelerikForm">
        <div class="commandMainTitle">
            <button type="button" id="createCantiere" class="myButton pull-right">Nuovo Cantiere</button>
        </div>
    </div>
</div>
<div class=" = row rowTelerikMainForm">
    <ul id="panelbar">
        <li class="k-state-active">
            Filtri
            <div>
                <div id="filterDiv" class="row rowTelerikForm">
                    <div class="col-md-2">
                        <label>Cod.Impresa</label>
                        <input id="codiceImpresaFilter" class="k-textbox fullWidth" type="text">
                    </div>
                    <div class="col-md-2">
                        <label>Rag. Soc.</label>
                        <input id="ragioneSocialeFilter" class="k-textbox fullWidth" type="text">
                    </div>
                    <div class="col-md-2">
                        <label>Cod.Fisc./IVA</label>
                        <input id="codFiscIvaFilter" class="k-textbox fullWidth" type="text">
                    </div>
                    <div class="col-md-1">
                        <label>Importo (€)</label>
                        <input id="importoFilter" class="k-textbox fullWidth" type="text">
                    </div>
                </div>
                <div id="filterDiv2" class="row rowTelerikForm">
                    <div class="col-md-2">
                        <label>Provincia</label>
                        <input id="provinciaFilter" class="k-textbox fullWidth" type="text">
                    </div>
                    <div class="col-md-2">
                        <label>Comune</label>
                        <input id="comuneFilter" class="k-textbox fullWidth" type="text">
                    </div>
                    <div class="col-md-2">
                        <label>Indirizzo</label>
                        <input id="indirizzoFilter" class="k-textbox fullWidth" type="text">
                    </div>
                    <div class="col-md-1">
                        <label>CAP</label>
                        <input id="capFilter" class="k-textbox fullWidth" type="text">
                    </div>
                </div>
            </div>
        </li>
        <li class="k-state-active">
            Mappa Cantieri
            <div>
                <div class="row border-bottom white-bg dashboard-header">
                    <div id="map" style="width: 100%; background-color: grey;"></div>
                </div>
            </div>
        </li>
        <li class="k-state-active collapse">
            Lista Cantieri
            <div>
                <div class="row border-bottom white-bg dashboard-header">
                    <div class="row rowTelerikForm">
                        <div class="col-md-12">
                            <div id="gridCantieri"></div>
                        </div>
                    </div>

                    <script type="x/kendo-template" id="page-template">
                        <div class="page-template">
                            <div class="header">
                                <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                                <span id="intestazioneReport">placeholder</span>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </li>
    </ul>
</div>

@section scripts
{
    @Scripts.Render("~/scriptBundle/mapModule")
}

@section inPageScripts
{
    @Html.Partial("PartialScript/_IndexScript")
}
