﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MenuContentImpreseRegolari.ascx.cs" Inherits="Cemi.SiceInfo.Web.CeServizi.WebControls.MenuContentImpreseRegolari" %>
<!-- menuIMPRESEREGOLARI -->
<tr class="menuTable">
    <td>Report</td>
</tr>