﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TitoloSottotitolo.ascx.cs" Inherits="Cemi.SiceInfo.Web.CeServizi.WebControls.TitoloSottotitolo" %>

<table class="titolo">
    <tr>
        <td class="titolo">
            <% =this.titolo%>
        </td>
    </tr>
    <tr>
        <td>
            ::&nbsp;&nbsp;<% =this.sottoTitolo%>
        </td>
    </tr>
</table>