﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Amministrazione.aspx.cs" Inherits="Amministrazione" %>
<%@ Register src="~/WebControls/Ricerca/Utente.ascx" tagname="Utente" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <uc1:Utente ID="Utente1" runat="server" />
</asp:Content>

