﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="DettagliUtente.aspx.cs" Inherits="Amministrazione_DettagliUtente" %>

<%@ Register src="../WebControls/Visualizzazione/Utente.ascx" tagname="Utente" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <div>
        <uc1:Utente ID="Utente1" runat="server" />
    </div>
</asp:Content>

