<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ColonieModificaPartecipantiTurno.aspx.cs" Inherits="ColonieModificaPartecipantiTurno"%>

<%@ Register Src="../WebControls/ColonieRicercaDomande.ascx" TagName="ColonieRicercaDomande"
    TagPrefix="uc2" %>

<%@ Register Src="../WebControls/TitoloSottotitolo.ascx" TagName="TitoloSottotitolo"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:TitoloSottotitolo ID="TitoloSottotitolo1" runat="server" sottoTitolo="Modifica partecipanti"
            titolo="Colonie" Visible="false" />
        &nbsp;<uc2:ColonieRicercaDomande ID="ColonieRicercaDomande1" runat="server" />
    </div>
    </form>
</body>
</html>
