﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="InvioMailConferma.aspx.cs" Inherits="Colonie_InvioMailConferma" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button
            ID="ButtonInvia"
            runat="server"
            Text="Invia" onclick="ButtonInvia_Click" />
        <br />
        <asp:Label
            ID="LabelMessaggio"
            runat="server"
            ForeColor="Red">
        </asp:Label>
    </div>
    </form>
</body>
</html>
