﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="SchedaCandidato.aspx.cs" Inherits="Colonie_SchedaCandidato" %>

<%@ Register src="../WebControls/TitoloSottotitolo.ascx" tagname="TitoloSottotitolo" tagprefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MenuDettaglio" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainPage" Runat="Server">
    <uc1:TitoloSottotitolo ID="TitoloSottotitolo1" runat="server" titolo="Villaggi Vacanze" sottoTitolo="Scheda Candidato" />
    <br />
    <rsweb:ReportViewer ID="ReportViewerSchedaCandidato" runat="server" ProcessingMode="Remote"
        width="100%">
    </rsweb:ReportViewer>
</asp:Content>


