﻿@using System.Web.Optimization
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Map</title>

    <base href="@Url.Content("~/")"/>

    @*@Styles.Render("~/styleBundle/myStyle")*@

    @Scripts.Render("~/scriptBundle/jquery")

    @*<link rel="shortcut icon" type="image/x-icon" href="Content/MyApp/Images/Favicon/favicon.ico" />*@
</head>
<body>

<script src="https://www.bing.com/api/maps/mapcontrol?callback=initMapWithMarker" async defer></script>
<script type="text/javascript">
    @*//Mappa
    var map = null;

    //Parametri della mappa
    var latitudine = @ViewBag.Latitudine.Replace(',', '.'); //45.464044;
    var longitudine = @ViewBag.Longitudine.Replace(',', '.'); //9.191567;
    var zoom = 10;

    function LoadMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AkAg3s1r8wAGdbJns9DCog3AcDYwwWmFgQCE0P-O6-kIxD_NjIGWmx47miyUlQLF',
            center: new Microsoft.Maps.Location(latitudine, longitudine),
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: zoom
        });
    }

    function AddShape(id, lat, lon, descrizione, img) {
        var pin;
        var position = new Microsoft.Maps.Location(lat, lon);
        if (img)
            pin = new Microsoft.Maps.Pushpin(position,
                {
                    icon: img,
                    //anchor: new Microsoft.Maps.Point(12, 39)
                });
        else
            pin = new Microsoft.Maps.Pushpin(position,
                {
                    //icon: img
                    //anchor: new Microsoft.Maps.Point(12, 39)
                });

        var infobox = new Microsoft.Maps.Infobox(position, {
            title: 'Dettaglio',
            description: descrizione, visible: false
        });
        infobox.setMap(map);
        Microsoft.Maps.Events.addHandler(pin, 'click', function () {
            infobox.setOptions({ visible: true });
        });

        //Add the pushpin to the map
        map.entities.push(pin);
    }

    function LoadMapCenter(latitudine, longitudine) {
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AkAg3s1r8wAGdbJns9DCog3AcDYwwWmFgQCE0P-O6-kIxD_NjIGWmx47miyUlQLF',
            center: new Microsoft.Maps.Location(latitudine, longitudine),
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: zoom
        });
    }*@

    function initMapWithMarker() {
        //Mappa
        var map = null;

        //Parametri della mappa
        var latitudine = @ViewBag.Latitudine.Replace(',', '.'); //45.464044;
        var longitudine = @ViewBag.Longitudine.Replace(',', '.'); //9.191567;
        var zoom = 11;

        map = new Microsoft.Maps.Map('#myMap',
            {
                credentials: '@System.Configuration.ConfigurationManager.AppSettings["BingMapKey"]',
                center: new Microsoft.Maps.Location(latitudine, longitudine),
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                zoom: zoom
            });

        var pin;
        var lat = latitudine;
        var lon = longitudine;
        var position = new Microsoft.Maps.Location(lat, lon);
        //if (img)
        //    pin = new Microsoft.Maps.Pushpin(position,
        //        {
        //            icon: img
        //            //anchor: new Microsoft.Maps.Point(12, 39)
        //        });
        //else
        pin = new Microsoft.Maps.Pushpin(position,
            {
                //icon: img
                //anchor: new Microsoft.Maps.Point(12, 39)
                
            });

        var descrizione = "@ViewBag.Descrizione.Replace("'", "").Replace('"', ' ')";
        
        var infobox = new Microsoft.Maps.Infobox(position, {
            title: 'Dettaglio',
            description: descrizione, visible: false
        });
        infobox.setMap(map);
        Microsoft.Maps.Events.addHandler(pin, 'click', function () {
            infobox.setOptions({ visible: true });
        });
        
        //Add the pushpin to the map
        map.entities.push(pin);
    }
</script>


<div>
    <div id="myMap" style="float: inherit; height: 500px; position: relative; width: 100%;"></div>
</div>
</body>
</html>