﻿#mainDiv
{
	width:1000px;
	text-align:left;
	background-color:#F5F5F5;
}

#headerDiv
{
	height:100px;
	background-color:#1293A8;
	color:#FFFFFF;
	font-size:24pt;
}

#menuOrizzontaleDiv
{
	width:100%;
	height:20px;
	background-color:#0D859C;
	color:#FFFFFF;
	font-size:10pt;
}

#footerDiv
{
	width:100%;
	height:20px;
	background-color:#0D859C;
	color:#FFFFFF;
	font-size:10pt;
}

#menuOrizzontaleDiv a:visited
{
	color:#FFFFFF;
	text-decoration: none;
}

#menuOrizzontaleDiv a:link
{
	color:#FFFFFF;
	text-decoration: none;
}

#menuOrizzontaleDiv a:hover
{
	color:#EEEEEE;
	text-decoration: none;
}

#utenteDiv
{
	width:100%;
}

#utenteDiv a:visited
{
	color:#30B0CA;
	text-decoration: none;
}

#utenteDiv a:link
{
	color:#0D859C;
	text-decoration: none;
}

#utenteDiv a:hover
{
	color:#30B0CA;
	text-decoration: none;
}

.wizardLink:link
{
	color:#0D859C;
	text-decoration: none;
}

.wizardLink:hover
{
	color:#30B0CA;
	text-decoration: none;
}

.wizardNoLink
{
	color:#0D859C;
	text-decoration: none;
}

#areaPrincipaleDiv
{
	width:100%;
}

#menuVerticaleSinistroDiv
{
	float:left;
	width:25%;
	height:100%;
}

#contenutoDiv
{
	float:right;
	width:75%;
}

body 
{
	font-family:Verdana;
	font-size:8pt;
	margin-top: 0; 
	margin-left: 0;
}

b
{
	color:#1293A8;
}

table td
{
	vertical-align:top;
	text-align:left;
}

.titoloCreazioneMenu
{
	color:#1293A8;
}

.tabellaConBordo
{
	border-width:1.5pt;
	border-style:solid;
	border-color:#0D859C;
}

.messaggiErrore
{
	color: Red;
}

.campoDisabilitato
{
	background-color: #EAEAEA;
}

.tabellaRiassuntiva
{
	font-size:7pt;
}

.colonnaTabellaIntestazioneTesto
{
	text-align:left;
}

.colonnaTabellaIntestazioneBottone
{
	text-align:right;
}

.wizard TD
{
	padding-bottom:7px;
}

.wizardSideBar
{
	background-color:#FAFAFA;
}

.passi
{
	font-size:11pt;
}


div.RadTabStripVertical .rtsLink
{
    text-align:left;
}

div.RadTabStripVertical .tab
{
    background-color: #FAFAFA;
    height: 36px;
    text-decoration:none;
    font: 11px/36px Arial;
    color: #0D859C !important;
}

div.RadTabStripVertical .tabSelected
{
    color:#0D859C;
    font-weight: bold;
}

div.RadTabStripVertical .tabHovered
{
    color:#30B0CA;
    font-weight: bold;
}
