﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AccessoCantieriConferma.ascx.cs"
    Inherits="WebControls_AccessoCantieriConferma" %>
<%@ Register Src="AccessoCantieriDati.ascx" TagName="AccessoCantieriDati" TagPrefix="uc1" %>
<div>
    <asp:Panel ID="PanelVisitaIspettiva" runat="server" Visible="false">
    </asp:Panel>
</div>
<br />
<div>
    <uc1:AccessoCantieriDati ID="AccessoCantieriDati1" runat="server" />
</div>
