<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ImpreseRegolariMenuContent.ascx.cs" Inherits="WebControls_ImpreseRegolariMenuContent" %>
<!-- menuIMPRESEREGOLARI -->
<tr class="menuTable">
    <td>Report</td>
</tr>