<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Messaggio.ascx.cs" Inherits="WebControls_Messaggio" %>
<table class="messaggio" width="97%">
<tr class="messaggioTop" ><!--style="BACKGROUND-IMAGE: url(images/LineaNews.gif); HEIGHT: 24px"-->
        <TD valign="middle"><% =this.Titolo%></TD>
    </TR>
     <TR>
        <TD>
         <asp:Label ID="Label1" runat="server" Text=""></asp:Label>
        </td>
     </tr>
</table>