<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SmsAScadenza.ascx.cs" Inherits="WebControls_SmsScadenza" %>
<table class="menuTable">
<tr class="menuTable">
        <td>SMS a scadenza</td>
        </tr>
    <tr>
        <td>
            <a href="SmsAScadenzaCreazione.aspx">Crea SMS a scadenza</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="SmsAScadenzaElenco.aspx">Verifica SMS schedulati</a>
        </td>
    </tr>
    
</table>
