<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SmsInfoMenu.ascx.cs" Inherits="WebControls_SmsInfoMenu" %>
<!-- <TABLE width=168>
<TBODY>
    <TR style="BACKGROUND-IMAGE: url(images/BackMenuElementBlu.gif); HEIGHT: 23px">
        <TD vAlign=middle align=right>SMS a scadenza</TD>
    </TR>
    <TR style="BACKGROUND: #f2f2f2">
        <TD><A href="SmsScadenzaCreazione.aspx">Crea SMS a scadenza</A><BR />
        <A href="asfa.c">Verifica SMS schedulati</A></TD>
    </TR>
    <TR><TD> &nbsp;&nbsp;</TD></TR>
    <TR style="BACKGROUND-IMAGE: url(images/BackMenuElementBlu.gif); HEIGHT: 23px">
        <TD vAlign=middle align=right>SMS immediati</TD>
    </TR>
    <TR style="BACKGROUND: #f2f2f2">
        <TD><A href="SmsInvio.aspx">Invia SMS</A></TD>
    </TR>
    <TR><TD> &nbsp;&nbsp;</TD></TR>
    <TR style="BACKGROUND-IMAGE: url(images/BackMenuElementBlu.gif); HEIGHT: 23px">
        <TD vAlign=middle align=right>SMS inviati</TD>
    </TR>
    <TR style="BACKGROUND: #f2f2f2" vAlign=middle>
        <TD><A href="SmsInviati.aspx">Verifica SMS inviati</A></TD>
    </TR>
    <TR><TD> &nbsp;&nbsp;</TD></TR>
    <TR style="BACKGROUND-IMAGE: url(images/BackMenuElementBlu.gif); HEIGHT: 23px">
        <TD vAlign=middle align=right>SMS ricevuti</TD>
    </TR>
    <TR style="BACKGROUND: #f2f2f2">
        <TD style="height: 78px"><A href="SmsRicevuti.aspx?tipoOp=All">Verifica SMS ricevuti</A><BR />
        <A href="SmsRicevuti.aspx?tipoOp=NonGestiti">Verifica SMS non gestiti</A><BR />
        <A href="SmsRicevuti.aspx?tipoOp=NonCorretti">Verifica SMS non corretti</A></TD>
    </TR>
</TBODY>
</TABLE> -->