<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SmsInviati.ascx.cs" Inherits="WebControls_SmsInviati" %>
<table width="100%" class="menuTable">
<TR class="menuTable">
        <TD>SMS Inviati</TD>
    </TR>
    <TR>
        <TD><a href="SmsInviati.aspx">Verifica SMS inviati</a>
    </TR>
</table>

