<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SmsImmediati.ascx.cs" Inherits="WebControls_SmsImmediati" %>
<table class="menuTable">
<TR  class="menuTable">
        <TD>SMS immediati</TD>
    </TR>
    <TR>
        <TD><a href="SmsInvio.aspx">Invia SMS</a></TD>
    </TR>
    <TR>
        <TD><a href="SmsNotificaIndirizzo.aspx">Notifica indirizzo</a></TD>
    </TR>
</table>

