<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TitoloSottotitolo.ascx.cs"
    Inherits="WebControls_TitoloSottotitolo" %>
<table class="titolo">
    <tr>
        <td class="titolo">
            <% =this.titolo%>
        </td>
    </tr>
    <tr>
        <td>
            ::&nbsp;&nbsp;<% =this.sottoTitolo%>
        </td>
    </tr>
</table>
