﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="RicercaMappa.aspx.cs" Inherits="RicercaMappa" %>

<%@ Register src="~/WebControls/Ricerca/NotificaMappa.ascx" tagname="NotificaMappa" tagprefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <uc1:NotificaMappa ID="NotificaMappa1" runat="server" />
</asp:Content>

