﻿<script>
    $(function () {
        commonModule.setDefaultKendoBehavior();

        var idLavoratore = @ViewBag.IdLavoratore;
        var urlGetComunicazioni = commonModule.webApiBaseUrl + "Lavoratore/GetComunicazioni/" + idLavoratore;

        $("#gridComunicazioni")
            .kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: urlGetComunicazioni,
                            dataType: "json"
                        }
                        ,
                        schema: {
                            model: {
                                fields: {
                                    data: {

                                        type: "date"
                                    },
                                    canale:
                                    {
                                        type: "text"
                                    },

                                    testo:
                                    {

                                        type: "text"
                                    }

                                }
                            }
                        }
                    }
                }
               ,
                toolbar: kendo.template("<a class='k-button k-button-icontext k-grid-excel pull-right' href='\\#'><span class='k-icon k-i-excel'></span> Excel</a> <a class='k-button k-button-icontext k-grid-pdf pull-right' href='\\#'><span class='k-icon k-i-pdf'></span> PDF</a>"),
                excel: {
                    fileName: "Comunicazioni.xlsx",
                    filterable: true,
                    allPages: true
                },

                pdf: {
                    author: "CEMI",
                    creator: "CEMI",
                    date: new Date(),
                    fileName: "Comunicazioni.pdf",
                    keywords: "Comunicazioni",
                    margin: {
                        left: 10,
                        right: "10pt",
                        top: "10mm",
                        bottom: "1in"
                    },
                    paperSize: "A4",
                    subject: "CEMI Comunicazioni",
                    title: "CEMI Comunicazioni",
                    allPages: true,
                    landscape: true,
                    scale: 0.5,
                    repeatHeaders: true
                },
                pageable: {
                    refresh: true,
                    pageSize: 7
                },
                sortable: true,
                //detailInit: function (e) {

                //    var valuta = e.data.descTipoValuta;

                //    $("<div/>")
                //        .appendTo(e.detailCell)
                //        .kendoGrid({
                //            dataSource: e.data.dettaglioInteressiMovimento,
                //            columns: [
                //                {
                //                    field: "voceDettaglio",
                //                    title: "Voce"
                //                },
                //                {
                //                    field: "importo",
                //                    title: "Valore",
                //                    headerAttributes: {
                //                        style: "text-align: right"
                //                    },
                //                    template:
                //                        "<span style='float:right'>#= personeModule.setFontValore(importo, (segnoDettaglio=='' ? '%' : '" + valuta + "'), segnoDettaglio)#</span>"
                //                }
                //            ],
                //            noRecords: {
                //                template: "Nessun dato disponibile"
                //            }
                //        });
                //},
                columns: [
                    {
                        field: "data",
                        title: "Data",
                        template:
                            "#= (data != null) ? kendo.toString(kendo.parseDate(data), 'd') : '' #",
                        width: 160
                    },
                    {
                        field: "canale",
                        title: "Canale",
                        template:
                          "#= canale#",
                        width: 140
                    },
                    {
                        field: "testo",
                        title: "Testo",
                        template:
                         "#= testo#"
                    }
                ]
            });
    });
</script>