﻿<script>
    $(function () {
        commonModule.setDefaultKendoBehavior();

        var idLavoratore = @ViewBag.IdLavoratore;
        var urlGetOre = commonModule.webApiBaseUrl + "Lavoratore/GetOre/" + idLavoratore;

        $("#gridOre")
            .kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: urlGetOre,
                            dataType: "json"
                        }
                        //,
                        //schema: {
                        //    model: {
                        //        fields: {
                        //            data: {

                        //                type: "date"
                        //            },
                        //            canale:
                        //            {
                        //                type: "text"
                        //            },

                        //            testo:
                        //            {

                        //                type: "text"
                        //            }

                        //        }
                        //    }
                        //}
                    }
                }
                ,
                toolbar: kendo.template("<a class='k-button k-button-icontext k-grid-excel pull-right' href='\\#'><span class='k-icon k-i-excel'></span> Excel</a> <a class='k-button k-button-icontext k-grid-pdf pull-right' href='\\#'><span class='k-icon k-i-pdf'></span> PDF</a>"),
                excel: {
                    fileName: "Ore.xlsx",
                    filterable: true,
                    allPages: true
                },

                pdf: {
                    author: "CEMI",
                    creator: "CEMI",
                    date: new Date(),
                    fileName: "Ore.pdf",
                    keywords: "Ore",
                    margin: {
                        left: 10,
                        right: "10pt",
                        top: "10mm",
                        bottom: "1in"
                    },
                    paperSize: "A4",
                    subject: "CEMI Prestazioni",
                    title: "CEMI Prestazioni",
                    allPages: true,
                    landscape: true,
                    scale: 0.5,
                    repeatHeaders: true
                },
                pageable: {
                    refresh: true,
                    pageSize: 7
                },
                sortable: true,
                //detailInit: function (e) {

                //    var valuta = e.data.descTipoValuta;

                //    $("<div/>")
                //        .appendTo(e.detailCell)
                //        .kendoGrid({
                //            dataSource: e.data.dettaglioInteressiMovimento,
                //            columns: [
                //                {
                //                    field: "voceDettaglio",
                //                    title: "Voce"
                //                },
                //                {
                //                    field: "importo",
                //                    title: "Valore",
                //                    headerAttributes: {
                //                        style: "text-align: right"
                //                    },
                //                    template:
                //                        "<span style='float:right'>#= personeModule.setFontValore(importo, (segnoDettaglio=='' ? '%' : '" + valuta + "'), segnoDettaglio)#</span>"
                //                }
                //            ],
                //            noRecords: {
                //                template: "Nessun dato disponibile"
                //            }
                //        });
                //},
                columns: [
                    {
                        field: "impresaRagioneSociale",
                        title: "Impresa",
                        template:
                            "#= impresaRagioneSociale#"
                    },
                    {
                        field: "periodo",
                        title: "Periodo",
                        template: "#= (periodo != null) ? kendo.toString(kendo.parseDate(periodo), 'y') : '' #",
                        width: 160
                    },
                    {
                        field: "tipoOra",
                        title: "Tipo ora",
                        template:
                            "#= tipoOra#"

                    },
                    {
                        field: "Ore",
                        title: "ore",
                        template:
                            "#= ore#",
                        width: 140
                    },
                    {
                        field: "pagate",
                        title: "Pagate",
                        template: "#= pagate#",
                        width: 140
                    }
                ]
            });


        $("#gridOreCompact")
            .kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: urlGetOre,
                            dataType: "json"
                        }
                    }
                },
                pageable: {
                    refresh: true,
                    pageSize: 7
                },
                sortable: true,
                columns: [
                    {
                        field: "impresaRagioneSociale",
                        title: "Ore",
                        template: kendo.template("<div><ul class='list-unstyled m-t-md'><li><span class='fa fa-industry m-r-xs'></span><label>Impresa:</label><span>#= impresaRagioneSociale#</span></li><li><span class='fa fa-calendar m-r-xs'></span><label>Periodo:</label><span>#= (periodo != null) ? kendo.toString(kendo.parseDate(periodo), 'y') : '' #</span></li><li><span class='fa fa-hourglass-o m-r-xs'></span><label>Ore:</label><span>#= ore #</span><span>#= tipoOra #</span></li><li><span class='fa fa-money m-r-xs'></span><label>Pagato:</label><span>#= pagate#</span></li></ul></div>")
                    }




                    //,
                    //{
                    //    field: "periodo",
                    //    title: "Periodo",
                    //    template: "#= (periodo != null) ? kendo.toString(kendo.parseDate(periodo), 'y') : '' #",
                    //    width: 160
                    //},
                    //{
                    //    field: "tipoOra",
                    //    title: "Tipo ora",
                    //    template:
                    //        "#= tipoOra#"

                    //},
                    //{
                    //    field: "Ore",
                    //    title: "ore",
                    //    template:
                    //        "#= ore#",
                    //    width: 140
                    //},
                    //{
                    //    field: "pagate",
                    //    title: "Pagate",
                    //    template: "#= pagate#",
                    //    width: 140
                    //}
                ]
            });




    });
</script>