﻿<script>
    $(function () {
        commonModule.setDefaultKendoBehavior();

        var idLavoratore = @ViewBag.IdLavoratore;
        var urlGetPrestazioni = commonModule.webApiBaseUrl + "Lavoratore/GetPrestazioni/" + idLavoratore;

        $("#gridPrestazioni")
            .kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: urlGetPrestazioni,
                            dataType: "json"
                        }
                        //,
                        //schema: {
                        //    model: {
                        //        fields: {
                        //            data: {

                        //                type: "date"
                        //            },
                        //            canale:
                        //            {
                        //                type: "text"
                        //            },

                        //            testo:
                        //            {

                        //                type: "text"
                        //            }

                        //        }
                        //    }
                        //}
                    }
                }
                ,
                toolbar: kendo.template("<a class='k-button k-button-icontext k-grid-excel pull-right' href='\\#'><span class='k-icon k-i-excel'></span> Excel</a> <a class='k-button k-button-icontext k-grid-pdf pull-right' href='\\#'><span class='k-icon k-i-pdf'></span> PDF</a>"),
                excel: {
                    fileName: "Prestazioni.xlsx",
                    filterable: true,
                    allPages: true
                },

                pdf: {
                    author: "CEMI",
                    creator: "CEMI",
                    date: new Date(),
                    fileName: "Prestazioni.pdf",
                    keywords: "Prestazioni",
                    margin: {
                        left: 10,
                        right: "10pt",
                        top: "10mm",
                        bottom: "1in"
                    },
                    paperSize: "A4",
                    subject: "CEMI Prestazioni",
                    title: "CEMI Prestazioni",
                    allPages: true,
                    landscape: true,
                    scale: 0.5,
                    repeatHeaders: true
                },
                pageable: {
                    refresh: true,
                    pageSize: 7
                },
                sortable: true,
                //detailInit: function (e) {

                //    var valuta = e.data.descTipoValuta;

                //    $("<div/>")
                //        .appendTo(e.detailCell)
                //        .kendoGrid({
                //            dataSource: e.data.dettaglioInteressiMovimento,
                //            columns: [
                //                {
                //                    field: "voceDettaglio",
                //                    title: "Voce"
                //                },
                //                {
                //                    field: "importo",
                //                    title: "Valore",
                //                    headerAttributes: {
                //                        style: "text-align: right"
                //                    },
                //                    template:
                //                        "<span style='float:right'>#= personeModule.setFontValore(importo, (segnoDettaglio=='' ? '%' : '" + valuta + "'), segnoDettaglio)#</span>"
                //                }
                //            ],
                //            noRecords: {
                //                template: "Nessun dato disponibile"
                //            }
                //        });
                //},
                columns: [
                    {
                        field: "tipo",
                        title: "Tipo",
                        template:
                           "#= tipo#"
                    },
                     {
                         field: "dataValuta",
                         title: "Data valuta",
                         template: "#= (dataValuta != null) ? kendo.toString(kendo.parseDate(dataValuta), 'd') : '' #",
                         width: 160
                    },
                    {
                        field: "statoDomanda",
                        title: "Stato domanda",
                        template:
                            "#= statoDomanda#",
                        width: 140
                    },
                    {
                        field: "importoErogatoLordo",
                        title: "Importo erogato lordo",
                        template:
                            "#= importoErogatoLordo#",
                        width: 140
                    },
                    {
                        field: "importoErogatoNetto",
                        title: "Importo erogato netto",
                        template: "#= importoErogatoNetto#",
                        width: 140
                    },
                    {
                        field: "modalitaPagamento",
                        title: "Modalità pagamento",
                        template: "#= modalitaPagamento#"
                    },
                     {
                         field: "identificativoPagamento",
                         title: "Identificativo pagamento",
                         template: "#= identificativoPagamento#"
                     }
                ]
            });
    });
</script>