﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Registrazione.aspx.cs" Inherits="Registrazione" MaintainScrollPositionOnPostback="true" %>

<%@ Register src="WebControls/Visualizzazione/Utente.ascx" tagname="Utente" tagprefix="uc1" %>

<%@ Register src="WebControls/Visualizzazione/Committente.ascx" tagname="Committente" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <br />
    I campi contrassegnati da <b>*</b> sono obbligatori
    <br />
    <br />
    <center class="passi">
        <table class="tabellaConBordo">
            <tr>
                <td>
                    Passo 
                    <b>
                        <asp:Label
                            ID="LabelPasso"
                            runat="server">1</asp:Label>
                    </b>
                    di
                    <b>
                        <asp:Label
                            ID="LabelTotalePassi"
                            runat="server">
                        </asp:Label>
                    </b>
                </td>
            </tr>
        </table>
    </center>
    <br />
    <asp:Label
        ID="LabelCodiceFiscale"
        runat="server"
        Text="E' già presente un utente con il codice fiscale fornito. Contattare la Cassa Edile più vicina per ricevere informazioni."
        CssClass="messaggiErrore"
        Visible="false">
    </asp:Label>
    <br />
    <br />
    <asp:CreateUserWizard ID="CreateUserWizard1" runat="server" Width="100%" 
        AnswerLabelText="" CancelButtonText="Annulla" 
        CompleteSuccessText="Il tuo utente è stato creato correttamente. A seguito dell'approvazione dell'amministratore del portale potrai accedere." 
        ConfirmPasswordCompareErrorMessage="La Password e la Password confermata devono essere uguali." 
        ConfirmPasswordLabelText="Conferma Password&lt;b&gt;*&lt;/b&gt;:" 
        ConfirmPasswordRequiredErrorMessage="Password di conferma mancante." 
        CreateUserButtonText="Registrati" DisableCreatedUser="True" 
        DuplicateEmailErrorMessage="L'indirizzo e-mail fornito è già utilizzato da un altro utente. Immettere un altro indirizzo e-mail." 
        DuplicateUserNameErrorMessage="Il Nome Utente è già utilizzato. Immettere un altro  Nome Utente" 
        EmailRegularExpressionErrorMessage="E-mail non valida." 
        EmailRequiredErrorMessage="E-mail mancante." 
        InvalidEmailErrorMessage="E-mail non valida." 
        InvalidPasswordErrorMessage="Lunghezza minima della Password: {0}. Caratteri non alfanumerici richiesti: {1}." 
        LoginCreatedUser="False" 
        PasswordRegularExpressionErrorMessage="Immettere una Password diversa." 
        PasswordRequiredErrorMessage="Password mancante." StartNextButtonText="Avanti" 
        StepNextButtonText="Avanti" StepPreviousButtonText="Indietro" 
        UnknownErrorMessage="Il tuo account non è stato creato. Riprova più tardi." 
        UserNameLabelText="Nome Utente&lt;b&gt;*&lt;/b&gt;:" 
        UserNameRequiredErrorMessage="Nome Utente mancante." DisplaySideBar="True"
        CssClass="wizard" 
        onactivestepchanged="CreateUserWizard1_ActiveStepChanged" 
    oncreateduser="CreateUserWizard1_CreatedUser" 
    oncreateusererror="CreateUserWizard1_CreateUserError" 
        ContinueButtonText="Torna alla Home Page" 
        ContinueDestinationPageUrl="~/Default.aspx" 
        oncreatinguser="CreateUserWizard1_CreatingUser" 
        CancelDestinationPageUrl="~/Registrazione.aspx" 
        EmailLabelText="E-mail&lt;b&gt;*&lt;/b&gt;:" 
        PasswordLabelText="Password&lt;b&gt;*&lt;/b&gt;:">
        <SideBarStyle CssClass="wizardNoLink" />
        <StepNextButtonStyle Width="150px" />
        <ContinueButtonStyle Width="150px" />
        <TextBoxStyle Width="300px" />
        <CreateUserButtonStyle Width="150px" />
        <TitleTextStyle CssClass="titoloCreazioneMenu" Font-Bold="True" />
        <StartNextButtonStyle Width="150px" />
        <StepPreviousButtonStyle Width="150px" />
    <WizardSteps>
        <asp:WizardStep runat="server" Title="Dati">
            <p>
                Tramite questa pagina è possibile richiedere l'attivazione di un nuovo <b>utente</b> in grado di inserire le Notifiche Preliminari
                ed i successivi aggiornamenti. L'attivazione è subordinata all'accettazione della richiesta da parte degli amministratori del portale.
            </p>
            <p>
                La conferma dell'attivazione dell'utente verrà recapitata tramite l'indirizzo email fornito in fase di registrazione. Si fa
                presente che non è possibile attivare utenze differenti che abbiano lo stesso indirizzo <b>email</b> o lo stesso <b>codice fiscale</b>.
            </p>
            <p>
                Deve essere selezionata la <b>Cassa Edile</b> a cui viene effettuata la richiesta di abilitazione per l'accesso al portale. Da notare che questa scelta non
                comporta limitazioni sulle località dei cantieri notificati che possono risiedere in una qualsiasi delle province di pertinenza delle Casse Edili coinvolte
                in questo progetto.
            </p>
            <p>
                <asp:Label
                    ID="LabelDatiPersonaNotifiche"
                    runat="server"
                    Font-Bold="true"
                    Text="Nel caso di utilizzo della procedura per invio di notifiche preliminari,">
                </asp:Label>
                i dati della persona che chiede la registrazione (Utente) sono esclusivamente quelli relativi al Committente od al Responsabile dei lavori (anche se il materiale inserimento è svolto da altri per incarico dei medesimi).
            </p>
            <p>
                <asp:Label
                    ID="LabelDatiPersonaDenunce"
                    runat="server"
                    Font-Bold="true"
                    Text="Nel caso di utilizzo per denuncia di cantiere,">
                </asp:Label>
                riservata alla aziende, i dati devono riferirsi al Titolare o al Legale Rappresentante dell’azienda (anche se il materiale inserimento è svolto da altri per incarico dei medesimi).
            </p>
            <uc1:Utente ID="Utente1" runat="server" />
            <asp:CheckBox ID="CheckBoxDisclaimer" runat="server" />
            <a ID="LinkButtonDisclaimer" runat="server" href="~/RisorseStatiche/Privacy.pdf">Dichiaro di aver preso visione dell'informativa sulla privacy e presto il consenso per il trattamento dei dati personali nei termini indicati nella stessa.</a>
            <br />
            <asp:Label
                ID="LabelConfermaObbligatoriaDisclaimer"
                runat="server"
                Visible="false"
                Text="Per proseguire è obbligatorio autorizzare il trattamento dei dati"
                CssClass="messaggiErrore">
            </asp:Label>
        </asp:WizardStep>
        <%--<asp:WizardStep runat="server" Title="Committente">
            <table>
                <tr>
                    <td colspan="2">
                        <p>
                            Nel caso in cui si sia scelta la Qualifica di "<b>Stazione Appaltante</b>" è possibile specificare un Committente
                            di riferimento che verrà pre-selezionato durante la compilazione di una nuova notifica preliminare. Per specificarlo
                            selezionare la voce "<b>Utente Committente</b>" e compilare i dati richiesti contrassegnati da <b>*</b>.
                            Nel caso in cui sia stata selezionata un'altra Qualifica proseguire con il pulsante "<b>Avanti</b>".
                        </p>
                        <p>
                            Sarà comunque possibile indicare un committente differente da quello di riferimento.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b>
                            Committente
                        </b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        Utente Committente:
                    </td>
                    <td>
                        <asp:CheckBox
                            ID="CheckBoxUtenteCommittente"
                            runat="server" AutoPostBack="True" 
                            oncheckedchanged="CheckBoxUtenteCommittente_CheckedChanged" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <asp:Panel
                            ID="PanelCommittente"
                            runat="server"
                            Enabled="false">
                            <uc1:Committente ID="Committente1" runat="server" />
                            <asp:ValidationSummary
                                ID="ValidationSummaryCommittente"
                                runat="server"
                                CssClass="messaggiErrore" />
                        </asp:Panel>
                    </td>
                </tr>
            </table>
        </asp:WizardStep>--%>
        <asp:CreateUserWizardStep runat="server" Title="Creazione Account" />
        <asp:CompleteWizardStep ID="stepComplete" runat="server" Title="Registrazione effettuata">
            <ContentTemplate>
                La <b>registrazione</b> è stata completata con <b>successo</b>.
                <br />
                <br />
                L'account non sarà utilizzabile fino all'approvazione dell'Amministratore del portale Web.
                <br />
                <br />
                I dati scelti per l'accesso sono:
                <br />
                <br />
                Username: <b><asp:Label ID="LabelLogin" runat="server"></asp:Label></b>
                <asp:Panel
                    ID="PanelPassword"
                    runat="server"
                    Visible="false">
                <br />
                Password: <b><asp:Label ID="LabelPassword" runat="server"></asp:Label></b>
                </asp:Panel>
            </ContentTemplate>
        </asp:CompleteWizardStep>
    </WizardSteps>
</asp:CreateUserWizard>
</asp:Content>

