﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AccessoCantieriConferma.ascx.cs" Inherits="Cemi.SiceInfo.Web.CeServizi.AccessoCantieri.WebControls.AccessoCantieriConferma" %>
<%@ Register Src="AccessoCantieriDati.ascx" TagName="AccessoCantieriDati" TagPrefix="uc1" %>
<div>
    <asp:Panel ID="PanelVisitaIspettiva" runat="server" Visible="false">
    </asp:Panel>
</div>
<br />
<div>
    <uc1:AccessoCantieriDati ID="AccessoCantieriDati1" runat="server" />
</div>