﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="RicercaNotificheTemporanee.aspx.cs" Inherits="Inserimento_RicercaNotificheTemporanee" %>

<%@ Register src="../WebControls/Ricerca/NotificheTemporanee.ascx" tagname="NotificheTemporanee" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <uc1:NotificheTemporanee ID="NotificheTemporanee1" runat="server" />
</asp:Content>

