﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="RicevutaDenuncia.aspx.cs" Inherits="RicevutaDenuncia" EnableSessionState="True" %>

<%@ Register src="~/WebControls/Visualizzazione/Ricevuta.ascx" tagname="Ricevuta" tagprefix="uc1" %>

<%@ Register src="../WebControls/Visualizzazione/RicevutaDenuncia.ascx" tagname="RicevutaDenuncia" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    
    <uc2:RicevutaDenuncia ID="RicevutaDenuncia1" runat="server" />
    
</asp:Content>

