﻿@using TBridge.Cemi.Type.Filters.Cantieri
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZE-OtiBzwc4ff4-BG9RDm1YFCN_heZIw">
</script>

<script>
    @{
        CantieriFilter filter = new CantieriFilter();
        var jsonSerializerSettings = new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()};
        string jsonFilter = JsonConvert.SerializeObject(filter, Formatting.Indented, jsonSerializerSettings);
    }

    var filter = @Html.Raw(jsonFilter);

    function initMap() {
        mapModule.init("map");

        var url = commonModule.appBaseUrl + "Cantieri/GetAll";

        $.getJSON(url,
            function (data) {
                $.each(data,
                    function (key, val) {
                        //mapModule.addMarker(val.latitudine, val.longitudine);
                        mapModule.addMarkerWithInfo(val.latitudine, val.longitudine, val.descrizione);
                    });
            });
    }

    function initMapFilter(filter) {
        mapModule.init("map");

        var url = commonModule.appBaseUrl + "Cantieri/GetByFilter?filterJson=" + JSON.stringify(filter);

        $.getJSON(url,
            function (data) {
                $.each(data,
                    function (key, val) {
                        //mapModule.addMarker(val.latitudine, val.longitudine);
                        mapModule.addMarkerWithInfo(val.latitudine, val.longitudine, val.descrizione);
                    });
            });
    }

    function configureFilterOnLoad() {
        $("#ragioneSocialeFilter")
            .typeWatch({
                callback: function (value) {
                    if (value.length > 1) {
                        filterGrid();
                    }
                },
                wait: 600,
                highlight: false,
                captureLength: 0
            });

        $("#codFiscIvaFilter")
            .typeWatch({
                callback: function (value) {
                    if (value.length > 1) {
                        filterGrid();
                    }
                },
                wait: 600,
                highlight: false,
                captureLength: 0
            });

        $("#provinciaFilter")
            .typeWatch({
                callback: function (value) {
                    if (value.length > 1) {
                        filterGrid();
                    }
                },
                wait: 600,
                highlight: false,
                captureLength: 0
            });

        $("#comuneFilter")
            .typeWatch({
                callback: function (value) {
                    if (value.length > 1) {
                        filterGrid();
                    }
                },
                wait: 600,
                highlight: false,
                captureLength: 0
            });

        $("#indirizzoFilter")
            .typeWatch({
                callback: function (value) {
                    if (value.length > 1) {
                        filterGrid();
                    }
                },
                wait: 600,
                highlight: false,
                captureLength: 0
            });

        $("#capFilter")
            .bind("keypress",
            function (evt) {
                var charCode = (evt.which) ? evt.which : window.event.keyCode;
                if (charCode <= 13) {
                    return true;
                } else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /^\d*[0-9]*$/;
                    return re.test(keyChar);
                }
            });

        $("#capFilter")
            .typeWatch({
                callback: function (value) {
                    if (value.length > 0) {
                        filterGrid();
                    }
                },
                wait: 600,
                highlight: false,
                captureLength: 0
            });

        $("#codiceImpresaFilter")
            .bind("keypress",
            function (evt) {
                var charCode = (evt.which) ? evt.which : window.event.keyCode;
                if (charCode <= 13) {
                    return true;
                } else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /^\d*[0-9]*$/;
                    return re.test(keyChar);
                }
            });

        $("#codiceImpresaFilter")
            .typeWatch({
                callback: function (value) {
                    if (value.length > 0) {
                        filterGrid();
                    }
                },
                wait: 600,
                highlight: false,
                captureLength: 0
            });


        $("#importoFilter")
            .bind("keypress",
            function (evt) {
                var charCode = (evt.which) ? evt.which : window.event.keyCode;
                if (charCode <= 13) {
                    return true;
                } else {
                    var keyChar = String.fromCharCode(charCode);
                    var re = /^\d*[0-9]*$/;
                    return re.test(keyChar);
                }
            });

        $("#importoFilter")
            .typeWatch({
                callback: function (value) {
                    if (value.length > 0) {
                        filterGrid();
                    }
                },
                wait: 600,
                highlight: false,
                captureLength: 0
            });
    }
    

    $(function () {
        commonModule.setDefaultKendoBehavior();

        $("#map").height(window.innerHeight * mapModule.defaultPercHeighSize);

        $(window).resize(function () {
            $("#map").height(window.innerHeight * mapModule.defaultPercHeighSize);
        });

        configureFilterOnLoad();
        
        $("#importoFilter").val(100000000);

        $("#codiceImpresaFilter").focus();

        $("#panelbar").kendoPanelBar({
            expandMode: "multiple",
            expanded: true
        });


        initMap();

        $("#createCantiere").click(function () {
            kendo.alert('Crezione Nuovo Cantiere');
        });

        configureCantieriGrid("gridCantieri");

        refreshCantieriGrid("gridCantieri", filter);
    });
    

    var a = kendo.template($("#page-template").html());

    String.prototype.replaceBetween = function (start, end, what) {
        return this.substring(0, start) + what + this.substring(end);
    };

    var filterGrid = function () {

        filter.idImpresa = parseInt($("#codiceImpresaFilter").val()) == undefined
            ? undefined
            : parseInt($("#codiceImpresaFilter").val());
        filter.cap = parseInt($("#capFilter").val()) == undefined
            ? undefined
            : parseInt($("#capFilter").val());
        filter.impresa = $("#ragioneSocialeFilter").val();
        filter.codiceFiscaleImpresa = $("#codFiscIvaFilter").val();
        filter.comune = $("#comuneFilter").val();
        filter.provincia = $("#provinciaFilter").val();
        filter.indirizzo = $("#indirizzoFilter").val();
        filter.importo = parseInt($("#importoFilter").val()) == undefined
            ? undefined
            : parseInt($("#importoFilter").val());


        var testo = "Filtri: ";

        if (filter.idImpresa != "" && filter.idImpresa != undefined && !isNaN(filter.idImpresa))
            testo = testo + "Cod.Impresa:" + filter.idImpresa + " ";
        if (filter.impresa != "")
            testo = testo + "Rag.Soc.:" + filter.impresa + " ";
        if (filter.codiceFiscaleImpresa != "")
            testo = testo + "Cod.Fisc/IVA:" + filter.codiceFiscaleImpresa + " ";
        if (filter.importo != "" && filter.importo != undefined && !isNaN(filter.importo))
            testo = testo + "Importo:" + filter.importo + " ";
        if (filter.cap != "" && filter.cap != undefined && !isNaN(filter.cap))
            testo = testo + "CAP:" + filter.cap + " ";
        if (filter.comune != "")
            testo = testo + "Comune:" + filter.comune + " ";
        if (filter.provincia != "")
            testo = testo + "Provincia:" + filter.provincia + " ";
        if (filter.indirizzo != "")
            testo = testo + "Indirizzo:" + filter.indirizzo + " ";
        if (filter.importo != "")
            testo = testo + "Importo:€" + filter.importo + " ";

        $("#panelbar").find("span")[0].innerHTML = testo;

        $("#page-template").html($("#page-template").html().replaceBetween($("#page-template").html().indexOf("<span"), $("#page-template").html().indexOf("</span>"), "<span id='intestazioneReport'>" + testo));

        refreshCantieriGrid("gridCantieri", filter);
        initMapFilter(filter);
    };


    // da mettere nel module...

    function configureCantieriGrid(cantieriGridId) {
        $("#" + cantieriGridId)
            .kendoGrid({
                toolbar: kendo.template("<a class='k-button k-button-icontext k-grid-excel pull-right' href='\\#'><span class='k-icon k-i-excel'></span> Excel</a> <a class='k-button k-button-icontext k-grid-pdf pull-right' href='\\#'><span class='k-icon k-i-pdf'></span> PDF</a>"),
                excel: {
                    fileName: "Cantieri.xlsx",
                    filterable: true,
                    allPages: true
                },

                pdf: {
                    author: "Cassa Edile di Milano, Lodi, Monza e Brianza",
                    creator: "Cassa Edile di Milano, Lodi, Monza e Brianza",
                    date: new Date(),
                    fileName: "Cantieri.pdf",
                    keywords: "Cantieri",
                    margin: {
                        left: 10,
                        right: "10pt",
                        top: "10mm",
                        bottom: "1in"
                    },
                    paperSize: "A4",
                    subject: "CEMI Cantieri",
                    title: "CEMI Cantieri",
                    allPages: true,
                    landscape: true,
                    scale: 0.5,
                    repeatHeaders: true,
                    template: $("#page-template").html()
                },
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            fields: {
                                //dataNascita: {
                                //    //data type of the field {Number|String|Boolean|Date} default is String
                                //    type: "date"
                                //}
                            }
                        }
                    }
                    //,
                    //sort: [
                    //        {
                    //            field: "cognome",
                    //            dir: "desc"
                    //        },
                    //        {
                    //            field: "nome",
                    //            dir: "desc"
                    //        }
                    //     ]
                },
                pageable: {
                    refresh: true,
                    pageSize: commonModule.defaultPageSize
                },
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                columns: [
                    {
                        command: {
                            name: "dettaglio",
                            text: "",
                            iconClass: "fa fa-info",
                            click: function (e) {
                                e.preventDefault();
                                var dataItem = this.dataItem($(e.target).closest("tr"));
                                var url = commonModule.appBaseUrl + '/Ceservizi/Cantieri/CantieriSchedaCantiere.aspx?idCantiere=' + dataItem.IdCantiere;
                                window.open(url, '_blank');
                            }
                        },
                        title: "",
                        width: 100
                    },
                    //{ field: "codiceImpresa", title: "Cod. Impresa" },
                    //{ field: "ragioneSociale", title: "Ragione Sociale" },
                    //
                    { field: "impresa", title: "Impresa" },
                    { field: "codFiscImpresa", title: "Cod. Fisc/IVA" },
                    { field: "indirizzo", title: "Indirizzo" },
                    { field: "cap", title: "Cap" },
                    { field: "provincia", title: "Provincia" },
                    { field: "comune", title: "Comune" },
                    //{ field: "descrizione", title: "Descrizione" },
                    //{ field: "latitudine", title: "Latitudine" },
                    //{ field: "longitudine", title: "Longitudine" }
                ]
                //,
                //dataBound: function (e) {
                //    //$("#gridPersone > div.k-grid-content.k-auto-scrollable > table > tbody > tr:nth-child(1) > td:nth-child(1) > a").is('[class*=k-but]')
                //    e.sender.tbody.find(".k-button.fa")
                //        .each(function (idx, element) {
                //            if ($(element).hasClass("fa fa-info")) {
                //                $(element).removeClass("fa fa-info").find("span").addClass("fa fa-info");
                //            }
                //            //if ($(element).hasClass("fa fa-money")) {
                //            //    $(element).removeClass("fa fa-money").find("span").addClass("fa fa-money");
                //            //}
                //            //if ($(element).hasClass("fa fa-bank")) {
                //            //    $(element).removeClass("fa fa-bank").find("span").addClass("fa fa-bank");
                //            //}
                //            //if ($(element).hasClass("fa fa-users")) {
                //            //    $(element).removeClass("fa fa-users").find("span").addClass("fa fa-users");
                //            //}
                //        });
                //}
            });
    };

    function refreshCantieriGrid(cantieriGridId, cantieriFilter) {

        $("#" + cantieriGridId).data("kendoGrid").options.pdf.template = $("#page-template").html();

        var urlGetCantieri = commonModule.appBaseUrl + "Cantieri/GetByFilter?filterJson =" + JSON.stringify(cantieriFilter);

        commonModule.updateGridDataSourceWithPaging(cantieriGridId, urlGetCantieri, commonModule.defaultPageSize);
    };

    function clearCantieriGrid(cantieriGridId) {
        $("#" + cantieriGridId).data("kendoGrid").dataSource.data([]);
    };


</script>