﻿BODY {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif !important;
    FONT-SIZE: 8.25pt !important;
    font-weight: normal !important;
    line-height: 12pt !important;
    text-align: left !important;
    color: black !important;
}
/*---------------------- div------------------------- */
/*per questo div usiamo il nome della classe e non nome dell'elemento perchè verrà applicato ad un div runatserver*/
div.outerdiv {
	MARGIN: auto; 
	WIDTH: 980px; 
	PADDING-BOTTOM: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px; 
	position: relative;
}
DIV#header 
{
	MARGIN: 0px; 
	PADDING-BOTTOM: 10px; 	
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px
}
div.maindiv 
{
	/*FLOAT: left;*/
	/*WIDTH:740px;*/ 
	min-height: 400px;
	BACKGROUND-COLOR: #f6f6f6; 
	
	PADDING-LEFT: 10px; 
	PADDING-RIGHT: 10px; 
	PADDING-TOP: 10px; 
	PADDING-BOTTOM: 10px; 
	
	border-style:solid;
	border-width: 1px;
	border-color: #555555;
}
DIV#nav {
	FLOAT: left;
	WIDTH: 200px; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px; 
	margin:0px;
}
DIV#outer2 {
	FLOAT: left;
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	/*WIDTH: 980px;*/ 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px
}
DIV#footer 
{
	margin-top: 20px; 
	PADDING-BOTTOM: 10px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #000000 thin solid; 
	PADDING-TOP: 0px;
	TEXT-ALIGN: center;
	vertical-align: middle;
	font: 8pt Tahoma, Arial, verdana;
}
DIV#iscrizionelav
{
	FLOAT: inherit;
	PADDING-BOTTOM: 0px; 	
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px;
	vertical-align:top;
	BORDER-TOP: #000000 thin solid; 
	BORDER-RIGHT: #000000 thin solid; 
	border-bottom: #000000 thin solid; 
	border-left: #000000 thin solid; 
	}
	
DIV.borderedDiv
{
	border-style:solid;
	border-width: 1px;
	border-color: #555555;
	padding: 5px;
}

DIV.standardDiv
{
    width:100%;
}

/*-----  Elenchi puntati --------------*/
UL.elencoPuntato {
	margin: 2px;
	padding: 10px;
	list-style: decimal inside;
}
LI.elencoPuntato {
	margin-left: 10px;
	list-style: square inside;
}

A {
    color: #AF0000;
    text-decoration: none;
    font-weight: bold;
}

A:HOVER {
    color: #ff0000;
    text-decoration: underline;
    font-weight: bold;
}

A img {
    text-decoration: none;
    border: none;
}

A:HOVER img {
    text-decoration: none;
    border: none;
}

/* MENUTABLE classe che specifica lo stile dei menu di sinistra (navigazione)*/
table.menuTable
 {
	PADDING-BOTTOM: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px; 
	width:200px;
	border-spacing: 5px;
	text-align:left;
}
tr.menuTable
{
	text-align:left;
	color:White;
	font-weight:bold;
	background-image: url(../../CeServizi/Images/sfondo_sotto_voci_menu_sinistra_new.gif);
    height: 26px;
}
tr.menuTable td
{
	padding:5px;
}
/*tr.menuTable
{
	text-align:right;
	font-weight:bold;
	background-image: url(../../images/sfondo_sotto_voci_menu_sinistra.gif);
    height: 28px
}*/
/* HEADERMENUTABLE Menu alto per la navigazione tra i moduli*/
table.headerMenuTable
{
	MARGIN-LEFT: 198px; 
	width: 780px;

}
tr.headerMenuTable
{
	height: 33px;
}
td.linkHeaderMenuTable
 {
	background-color:#CD071E;
	color:#FFFFFF;
	text-align:right;
	vertical-align:bottom;
	padding-right: 10px;
	padding-left: 10px;
}
td.linkHeaderMenuTable A
{
	color:#FFFFFF;
}
.gridView table
{
	width:auto;
	border:0px;
	padding:0px;
	margin:0px;
	background-color: #CD071E;
	color:white;
	font-weight:normal;
	Font-Size:10pt;
	text-align: center;
	border:0px;
	padding:0px;
	margin:0px;
	
}
table.standardTable
{
	width:100%;
	border:0px;
	padding:0px;
	margin:0px;
}
/* --------------- titolo e sottotitolo --------------*/
table.titolo
{
	width:100%;
	font-weight:bold;
	text-align: left;
	}
td.titolo {
	height: 25px;
	color: #000000;
	vertical-align:bottom;
	background-color: #E3E3E3;
	border-color: #CD071E;
	border-style: solid;
	border-width: 1px;
	border-spacing: 2px;
	padding-left:4pt;
}
table.tableAsfaltatori
{
	border-bottom-style: solid;
	border-color: #000000;
	border-width: thin;
}
table.borderedTable 
{
	width:100%;
	background-image: url(../../CeServizi/images/SfondoTab.jpg);
	background-repeat: repeat-x;
	
	border-style: solid;
	border-width: 1px;
	border-spacing:0px;
	border-color: #828282;
	
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	
}

table.borderedTableSelected 
{
	width:100%;
	background-image: url(../../CeServizi/images/SfondoTabSel.jpg);
	background-repeat: repeat-x;
	
	border-style: solid;
	border-width: 1px;
	border-spacing:0px;
	border-color: #828282;
	
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	
}

table.borderedTableSenzaSpazi
{
	background-image: url(../../CeServizi/images/SfondoTab.jpg);
	background-repeat: repeat-x;
	
	border-style: solid;
	border-width: 1px;
	border-spacing: 0px;
	border-color: #828282;
	padding: 0px;
	margin: 0px;
	width:100%;
}
/*TD rosso con carattere bianco, usato per titolare dei raggruppamenti*/
table.filledtable 
{	
	/*Nuova versione
	background-image: url(../../images/FilledTableBackground.png);
	background-repeat: repeat-x;
	padding-top: 2px;
	background-color: #CD071E;
	/**/
	
	/*vecchia versione*/
	border-left: solid 1px #828282;
	border-right: solid 1px #828282;
	border-top: solid 1px #828282;
	border-style: solid;
	border-width: 1px;
	border-spacing: 2px;
	border-color: #828282;
	background-color: #CD071E;
	padding: 0px;
	/**/
	
	
	width: 250px;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	height:22px;
}

table.cantieriSelezionePeriodi
{
	width: 400px;
}

/*Definisce la larghezza della prima colonna (colonna delle definizioni dei campi [label]) in accesso cantieri*/
td.accessoCantieriTd{
	width:300px;
}

/*TD per Iscrizione lavoratori*/
td.iscrizioneLavoratoriTd{
	width:300px;
}

/*TD per Iscrizione lavoratori*/
td.anagraficaImpreseTd{
	width:300px;
}

/*TD per Cantieri*/
td.cantieriTd{
	width:90px;
	vertical-align:top;
}

td.SollecitoDurcTd{
	width:320px;
}

td.accessoCantieriTemplateTableTd
{
	width:60px;
}

td.accessoCantieriTemplateTableWhiteListTd
{
	width:90px;
}

.DefaultPage{
	text-align:justify;
}

.testoUpperCase
{
	text-transform: uppercase;
}

/* --------------------- Vecchie tabelle da PULIRE -----------*/
.tabellaMenuPrimaVociMenu
{
	background-image: url(../../CeServizi/images/sfondo_prima_voci_menu_alto.gif);
}
.radWizard
{
	background-image: url(../../CeServizi/images/SfondoTab.jpg);
	padding: 10px;
	border-left: solid 1px #828282;
	border-bottom: solid 1px #828282;
	border-right: solid 1px #828282;
	background-repeat: repeat-x;
}
.campoNotifica
{
	background-color: #EAEAEA;
}

.messaggiErrore li
{
	color: Red;
}

.campoDisabilitato
{
	background-color: #EAEAEA;
}

.tdIban
{
	font-family:Courier New;
}

.tdNoteRicercaCantieri
{
    text-align:center;
    width:32px;
}

.campoPiccolo
{
	font-size:8pt;
}

.campoMoltoPiccolo
{
	font-size:6pt;
}

.bottoneGriglia
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 11px;
}

.bottoneGrigliaTuteScarpe
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 11px;
	width: 80px;
}


.rcbHeader ul,
.rcbFooter ul,
.rcbItem ul, .rcbHovered ul, .rcbDisabled ul
{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.col1, .col2, .col3
{
    float: left;
    width: 270px;
    margin: 0;
    padding: 0 5px 0 0;
    line-height: 14px;
}

/* ---------------- TELERIK --------------------------------*/
/*
.RadComboBox.rcbItem
{
    list-style-type: none;
    list-style-position: outside;
}

.RadComboBox.rcbHovered
{
    list-style-type: none;
    list-style-position: outside;
}

.RadTabStrip.rtsLink:hover
{
    font: 10pt Tahoma, Arial, verdana;
    color: Black;
    text-decoration: none;
}
*/

/* Styles for the appointment Subject */
.RadScheduler .rsAptSubject
{
    text-align: left;
    margin: 0 0 3px;
    font-size: 11px;
    font-weight: bold;
    color: Black;
    height: 17px;
    border-bottom: 1px solid Gray;
    width: 100%;
}

/*.radSplitter
{
	MARGIN-LEFT: 198px !important;
	padding-top:5px;
	border-width:0 !important;
	border-style:none !important;
}*/

.RadSplitter,
.rspSlideZone,
.rspSlideContainer,
.rspPaneTabContainer,
.rspPane, 
.rspResizeBar,
.rspSlideContainerResize,
.rspPaneHorizontal, 
.rspResizeBarHorizontal,
.rspSlideContainerResizeHorizontal
{
	border-width:0 !important;
	border-style:none !important;
}


.rspSlideHeaderIconWrapper, .rspSlideTitleContainer
{
    display:none !important;
    border-width:0 !important;
	border-style:none !important;
}

.rspPaneTabText
{
	color:white !important;
	font-family: Verdana, Arial, Helvetica, sans-serif !important; 
	font-size: 11px !important;
	font-weight: bold !important; 
	border-width:0 !important;
	border-style:none !important;  
}    

 .rspSlideZone,
 .rspPaneTabContainer
{
	background-image: none !important;  
    background-color:#CD071E !important;
    border-width:0 !important;
	border-style:none !important;
}

.RadSplitter_Default .rspTabsContainer { 
    background-color: #CD071E !important; 
} 
 
.RadSplitter_Default .rspSlidePane { 
    background-color: transparent !important; 
}