﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SituazioneAssenza.ascx.cs" Inherits="Cemi.SiceInfo.Web.CeServizi.MalattiaTelematica.WebControls.SituazioneAssenza" %>

<%--<telerik:RadGrid ID="RadGridAssenza" runat="server" CellSpacing="0" CellPadding="0" GridLines="None"
    Width="200px" OnDataBinding="RadGridAssenza_DataBinding" OnItemDataBound="RadGridAssenza_ItemDataBound"
    ShowHeader="true" ViewStateMode="Enabled">
</telerik:RadGrid>--%>