﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SituazioneAssenza.ascx.cs"
    Inherits="MalattiaTelematica_WebControls_SituazioneAssenza" %>
<%--<telerik:RadGrid ID="RadGridAssenza" runat="server" CellSpacing="0" CellPadding="0" GridLines="None"
    Width="200px" OnDataBinding="RadGridAssenza_DataBinding" OnItemDataBound="RadGridAssenza_ItemDataBound"
    ShowHeader="true" ViewStateMode="Enabled">
</telerik:RadGrid>--%>
