<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="TuteScarpeVisualizzazioneOrdiniAutomatici.aspx.cs" Inherits="TuteScarpe_TuteScarpeVisualizzazioneOrdiniAutomatici" %>

<asp:Content ID="Content5" ContentPlaceHolderID="MainPage2" Runat="Server">
    <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
   
</asp:Content>

