BODY {
	background-image: url('images/sfondo_pagina.gif');
	margin: 0;
	padding: 0;
	font: 9pt Verdana, Arial;
	color:#0148ad;
}
TABLE {
	margin: 0;
	padding: 0;
	border:0;
}
TABLE TD 
{
	border:0px;
	padding-bottom:5px;
	vertical-align: top;
}
A {
	color:#0148ad;
	text-decoration: none;
	background: transparent;
}
A:hover {
	color: #1C58FF;
}
H1 {
	height: 21;
	text-align: left;
	color:#0148ad;
}
H2 {
	text-align: left;
	color:#0148ad;
}
H5 {
	font-weight: bold;
	margin-bottom: 1px;
}
UL {
	margin: 2px;
	padding: 2px;
	list-style: decimal inside;
	text-align: left;
	color:#0148ad;
}
LI {
	margin-left: 2px;
	list-style: square inside;
	color:#0148ad;
}
.messaggiErrore li
{
	color: Red;
}

.campoDisabilitato
{
	background-color: #EAEAEA;
}

.campoPiccolo
{
	font-size:8pt;
}