﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="DettagliNotifica.aspx.cs" Inherits="DettagliNotifica" MaintainScrollPositionOnPostback="true" %>

<%@ Register src="~/WebControls/Riassunto.ascx" tagname="Riassunto" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <br />
    <asp:Button
        ID="ButtonIndietro"
        runat="server"
        Text="Torna indietro"
        Width="150px" onclick="ButtonIndietro_Click" />
    <br />
    <br />
    <uc1:Riassunto ID="Riassunto1" runat="server" />
</asp:Content>

