﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="RicevutaNotifica.aspx.cs" Inherits="RicevutaNotifica" EnableSessionState="True" %>

<%@ Register src="~/WebControls/Visualizzazione/Ricevuta.ascx" tagname="Ricevuta" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <uc1:Ricevuta ID="Ricevuta1" runat="server" />
</asp:Content>

