﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="RicercaNotifica.aspx.cs" Inherits="RicercaNotifica" %>

<%@ Register src="~/WebControls/Ricerca/Notifica.ascx" tagname="Notifica" tagprefix="uc1" %>

<%@ Register src="~/WebControls/Ricerca/NotificaCompleta.ascx" tagname="NotificaCompleta" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <uc2:NotificaCompleta ID="NotificaCompleta1" runat="server" />
</asp:Content>

