
.clear {
	clear: both;
	height: 0px;
	overflow:hidden;
}
.background
{
    background:#0f1545 url(../img/Background.jpg) no-repeat;
	height:100%;
	width:100%;
    }

#content {
	background: url(../img/Header.png) no-repeat top center;

}

.container{
	width:948px;
	margin:0px auto 0px auto;
}

#header{
	height:125px;
	margin:0px 0px 0px -10px;
}
.logo a{
	background: url(../img/Logo.png) no-repeat;
	display:block;
	float:left;
	width:290px;
	height:64px;
	margin-top:25px;
}
.logo a span{
	display:none;
}
.top_link{
	float:right;
	width:66px;
	height:19px;
}
.top_link a{
	display:block;
	margin-top:10px;
	width:66px;
	height:19px;
    background: url(../img/telerik.png) no-repeat;
}
.top_link a span
{
     display:none;
    }
.info_box{
	width:460px;
	margin:0px auto;
	padding-top:35px;
	height:210px;
}
.info_box h2{
	font:21px/25px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background: url(../img/close.gif) no-repeat right 0px;
	padding-right:20px;
	width:253px;
	padding-bottom:15px;
}
.info_box p{
	color:#FFFFFF;
	font:16px/24px Arial, Helvetica, sans-serif;
	padding-left:45px;
	padding-bottom:15px;
}
.info_box p a.now_version{
	color:#FFFFFF;
	font:17px Arial, Helvetica, sans-serif;
}
.info_box p a.latest_version{
	color:#86d9f4;
	font:17px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}
.info_box p a.latest_version:hover{
	text-decoration:none;
}
.info_box p.font_size{
	font-size:11px;
	color:#b3d8e9;
}
.link_icon{
	float:right;
}
.link_icon a{
	display:block;
	float:left;
	margin-left:12px;
	margin-top:10px;
}
.link_icon a img
{
    border:0px;
}
.link_icon a.download{
	margin-top:15px;
}
#main{
	background:#FFFFFF;
	margin:0px 0px 0px -12px;
	padding:10px;
}
#main h1{
	color:#333333;
	font:28px Georgia, "Times New Roman", Times, serif;
	padding:10px 0px 16px 20px;
}
.gray_box{
	background:#f5f5f5;
	padding:10px;
}
.gray_box p{
	color:#4b4b4b;
	font:12px/18px Arial, Helvetica, sans-serif;
	padding:12px 0 0 0;
}
.gray_box p strong{
	color:#3587cf;
	font:bold 12px/18px Arial, Helvetica, sans-serif;
}
.gray_box h2{
	color:#4b4b4b;
	font:19px/18px Arial, Helvetica, sans-serif;
}
.list_controls{
	padding-left:10px;
}

.list_controls a{
	display:block;
	background: url(../img/point.gif) no-repeat 5px 5px ;
	padding-left:26px;
	padding-bottom:3px;
	color:#376aac;
	font:12px Arial, Helvetica, sans-serif;
	outline:none;
	text-decoration:none;
}
.list_controls a:hover{
	text-decoration:underline;
}

#footer{
	background:#dfdfdf;
	margin-left:-12px;
	color:#0e1444;
	font:13px Arial, Helvetica, sans-serif;
	padding:12px 0px 12px 30px;
	margin-bottom:20px;
}