BODY {
	background-image: url('images/sfondo_pagina.gif');
	margin: 0;
	padding: 0;
	font: 10pt Arial, Tahoma, verdana;
	color:#0148ad;
	background-color:#DDEBF4;
}
TABLE {
	margin: 0;
	padding: 0;
	border:0;
	font: Arial, Tahoma, verdana 10px;
}
TABLE TD 
{
	border:0px;
	vertical-align: top;
	font: 10pt Arial, Tahoma, verdana;
}
A {
	color:#0148ad;
	text-decoration: none;
	background: transparent;
	font: bold 10pt Arial, Tahoma, verdana;
}
A:hover {
	color: #1C58FF;
}
H1 {
	height: 21;
	text-align: left;
	color:#0148ad;
	font: bold 12pt Arial, Tahoma, verdana;
}
H2 {
	text-align: left;
	color:#0148ad;
	font: bold 10pt Arial, Tahoma, verdana;
}
H5 {
	font-weight: bold;
	margin-bottom: 1px;
}
UL {
	margin: 2px;
	padding: 2px;
	list-style: decimal inside;
	text-align: left;
	color:#0148ad;
}
LI {
	margin-left: 2px;
	list-style: square inside;
	color:#0148ad;
}
.bodytable 
{
	border:0px;
	height: 435;
	padding: 0px;
	background: #DDEBF4;
}
.headertable
{
	background-color: #81B3FE;
	border: 0px;
	padding: 0px;
}
.maintitletable
{
	background-color: #f5f5f5;
	border: 0px;
	padding: 0px;
}
.maintitletable a
{
	font: bold 9pt Arial, Tahoma, verdana;
	color:#022a64;
}
.maintitletable a:hover
{
	font: bold 9pt Arial, Tahoma, verdana;
	color:#4e96fe;
}
.tableAsfaltatori
{
	border-bottom-style: solid;
	border-color: #81b3fe;
	border-width: thin;
}

.footertable 
{
	border:0px;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}

.footertable td
{
	border:0px;
	height: 20px;
	padding: 0px;
	color: #FFFFFF;
	background-color: #4e96fe;
	vertical-align: middle;
	text-align: center;
}

td#leftcolumn {
	width: 201;
	margin:0px;
	padding:0px;
	border:20px;
	border-color:Fuchsia;
}
td#centercolumn {
	width: 740;
	margin:0px;
	padding:0px;
	border:0px;
}
.leftmain {
	margin:0px;
	padding:0px;
	border:0px;
}
.rightmain {
	margin:0px;
	padding:0px;
	border:0px;
}
.centermain {
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.messaggio {
	text-align: left;
	border-bottom: 0 solid darkgrey;
	background: #DDEBF4;
}
.messaggioTop {
	text-align: left;
	color: white;
	border-bottom: 4 solid darkgrey;
	background: #4e96fe;
	font: bold 10pt Arial, Tahoma, verdana;
}
.menubox {
	width: 201px;
	margin:0px;
	padding:0px;
	border:0px;
	background: #81b3f3;
}
.menubox TD {
	border:0px;
	vertical-align: middle;
	
}
.menubox A {
	font-weight: bold;
	color:#0148ad;
	font: bold 10pt Arial, Tahoma, verdana;
	line-height:1.5em;
}
.menubox A:hover {
	font-weight: bold;
	color:#ffffff;
	font: bold 10pt Arial, Tahoma, verdana;
	line-height:1.5em;
}
.menuboxTop 
{
	width: 201px;
	margin:0px;
	padding:0px;
	border:0px;
	background: #81b3fe;
	font-weight: bold;
	line-height: 1.5em;
	vertical-align: middle;
	text-align:right;
}
.menuboxTop tr {
	border:0px;
	height: 37px;
	vertical-align: middle;
}
.menuboxTop td {
	border:0px;
	padding-right:5px;
	vertical-align: middle;
	color:#81b3fe;
	font: bold 10pt Arial, Tahoma, verdana;
}
.standardTable {
	width: 97%;
}
.formattedTable {
	width: 97%;
}
.formattedTable TH {
	color: White;
	background: #0a41ad;
	font: 12pt Arial, Tahoma, verdana;
}
.formattedTable TD {
	color: White;
	background: #0a41ad;
	font: 12pt Arial, Tahoma, verdana;
}
.titolo 
{
	padding-left:5px;
}
.titolo tr
{
}
.titolo td{
	height: 35;
	color: #ffffff;
	text-align: left;
	vertical-align:bottom;
	background-color:#4e96fe;
	font: 10pt Arial, Tahoma, verdana;
	font-weight:bold;
}
.sottotitolo 
{
	padding-left:5px;
}
.sottotitolo tr
{
}
.sottotitolo td
{
	height:10;
	text-align: left;
	color: #0a41ad;
	font:9pt Arial, Tahoma, verdana;
	font-weight:bold;
}
.borderedTable 
{
	border-style: solid;
	border-width: 1px;
	border-spacing: 2px;
	border-color: #0060A5;
	padding: 0px;
}
.filledtable 
{
	border-style: solid;
	border-width: 1px;
	border-spacing: 2px;
	border-color: #0060A5;
	padding: 0px;
	background-color:#0060A5;
}
.tabellaMenuPrimaVociMenu
{
	background-image: url(images/sfondo_prima_voci_menu_alto.gif);
}
.radMultiViewPageBackground
{
	background-image: url(images/SfondoTab.jpg);
	background-color: #FFFFFF;
}

.campoNotifica
{
	background-color: #FFF8DB;
}

.messaggiErrore li
{
	color: Red;
}

.campoDisabilitato
{
	background-color: #EAEAEA;
}

.tdIban
{
	font-family:Courier New;
}

.campoPiccolo
{
	font-size:8pt;
}