﻿@model dynamic

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-4">
        <div class="text-left">
            <h3>
                <b> Lavoratore </b> / <small>Anagrafica</small>
            </h3>

        </div>
    </div>

</div>

<!--TELERIK-->
<div class="row white-bg dashboard-header" style="padding-top: 5px;">
   
    <div class="col-md-12">
        <div class="row rowTelerikForm">
            <label class="h4">
                Anagrafica
            </label>

            <div class="row">
                <div class="col-md-2">
                    <label>Cognome</label>
                </div>
                <div class="col-md-4" style="margin-top: 3px">
                    <input id="cognome" class="k-textbox fullWidth" type="text" placeholder="Inserisci il cognome" style="text-transform: capitalize;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Nome</label>
                </div>
                <div class="col-md-4" style="margin-top: 3px">
                    <input id="nome" class="k-textbox fullWidth" type="text" placeholder="Inserisci il nome" style="text-transform: capitalize;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Codice fiscale</label>
                </div>
                <div class="col-md-4" style="margin-top: 3px">
                    <input id="codiceFiscale" class="k-textbox fullWidth" type="text" placeholder="Inserisci il codice">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Data nascita</label>
                </div>
                <div class="col-md-4" style="margin-top: 3px">
                    <input id="dataNascita" value="" class="myDatepicker fullWidth" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Luogo nascita</label>
                </div>
                <div class="col-md-4" style="margin-top: 3px">
                    <input id="luogoNascita" class="k-textbox fullWidth" type="text" placeholder="Inserisci il luogo" style="text-transform: capitalize;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Sesso</label>
                </div>
                <div class="col-md-4" style="margin-top: 3px">
                    <input id="sesso" class="k-textbox fullWidth" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Indirizzo</label>
                </div>
                <div class="col-md-4" style="margin-top: 3px">
                    <input id="indirizzo" class="k-textbox fullWidth" type="text">
                </div>
            </div>
        </div>

        <div class="row rowTelerikForm">
            <div class="col-md-6">
                <div></div>
            </div>
        </div>

        <div class="row rowTelerikForm">
            <div class="col-md-6">
                <button type="submit" id="salva" class="btn-primary pull-right" style="min-width:150px"><h3>Salva</h3></button>
            </div>
        </div>
    </div>
</div>



@section inPageScripts
{
    @Html.Partial("PartialScript/_AnagraficaScript")
}