﻿@model dynamic

@{
    ViewBag.Title = "Lavoratore";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-4">
        <div class="text-left">
            <h3>
                <b> Lavoratore </b> / <small>Riepilogo</small>
            </h3>

        </div>
    </div>
    @*<div class="col-md-8">
            <div class="commandMainTitle">
                <button type="button" id="createPersona" class="myButton pull-right">Nuova Persona</button>
            </div>
        </div>*@
</div>

<div class="row border-bottom white-bg dashboard-header" style="padding-left: 10px;
    padding-right: 10px;padding-top: 0px">
    <div class="row rowTelerikForm">

        <div class="widget red-bg col-lg-8">
            <h2>
                <span class="fa fa-user-o"></span>
                @*<a class="btn btn-lg"><i class="fa fa-user-o"></i></a>*@
                <span id="nomeCompleto"></span>

            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span id="dataNascita"></span> <span id="LuogoNascita"></span>
                </li>
                <li>
                    <span id="codiceFiscale"></span>
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Telefono:</label>
                    <span id="telefono"></span>
                </li>
                <li>
                    <span class="fa fa-mobile m-r-xs"></span>
                    <label>Cellulare:</label>
                    <span id="cellulare"></span>
                </li>
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>email:</label>
                    <span id="email"></span>
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Residenza:</label>
                    <span id="residenza"></span>
                </li>
            </ul>
            @*<a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Modifica</a>*@
        </div>

    </div>
    <div class="row rowTelerikForm">
        <div class="widget red-bg col-lg-4" style="margin-right:1px">
            <div class= "row vertical-align">
                <div class="col-xs-9 text-left">                   
                    <h2>
                        <span class="fa fa-eur"></span>
                        @*<a class="btn btn-lg"><i class="fa fa-eur"></i></a>*@
                    Prestazioni
                    </h2>
                </div>
                <div class="col-xs-3 text-right">
                    <h2 class="font-bold"><span id="prestazioniCount"></span></h2>
                </div>
            </div>
            @*<a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Modifica</a>*@
        </div>
        <div class="widget red-bg col-lg-4" style="margin-left:1px">
            <div class="row vertical-align">
                <div class="col-xs-9">
                        <h2>
                            <span class="fa fa-hourglass-o"></span>
                            Ore
                        </h2>
                </div>
                <div class="col-xs-3 text-right">
                    <h2 class="font-bold"><span id="oreCount"></span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowTelerikForm">

        <div class="widget red-bg col-lg-8">
            <h2>
                <span class="fa fa-mobile"></span>
                Comunicazioni
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-file-text-o m-r-xs"></span>
                    <label><span id="comunicazioniData0"></span></label>
                    <span id="comunicazioniTesto0"></span>
                </li>
                <li>
                    <span class="fa fa-file-text-o m-r-xs"></span>
                    <label><span id="comunicazioniData1"></span></label>
                    <span id="comunicazioniTesto1"></span>
                </li>
            </ul>

        </div>

    </div>



</div>


@section inPageScripts
{
    @Html.Partial("PartialScript/_IndexScript")
}