﻿@model dynamic

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-4">
        <div class="text-left">
            <h3>
                <b> Lavoratore </b> / <small>Prestazioni</small>
            </h3>

        </div>
    </div>

</div>

<!--TELERIK-->
<div class="row white-bg dashboard-header" style="padding-top: 5px;">

    <div class="col-md-12">
        <div class="row rowTelerikForm">
            <label class="h4">
                Prestazioni
            </label>

            <div class="row rowTelerikForm">
                <div class="col-md-12">
                    <div id="gridPrestazioni"></div>
                </div>
            </div>

        </div>

        @*<div class="row rowTelerikForm">
                <div class="col-md-6">
                    <div></div>
                </div>
            </div>

            <div class="row rowTelerikForm">
                <div class="col-md-6">
                    <button type="submit" id="salva" class="btn-primary pull-right" style="min-width:150px"><h3>Salva</h3></button>
                </div>
            </div>*@
    </div>
</div>



@section inPageScripts
{
    @Html.Partial("PartialScript/_PrestazioniScript")
}