﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="AggiornamentoNotificaCartacea.aspx.cs" Inherits="Amministrazione_AggiornamentoNotificaCartacea" %>

<%@ Register src="~/WebControls/Ricerca/Notifica.ascx" tagname="Notifica" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    <uc1:Notifica ID="Notifica1" runat="server" />
</asp:Content>

