﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="RicercaDenunce.aspx.cs" Inherits="Amministrazione_RicercaDenunce" %>

<%@ Register src="../WebControls/Ricerca/Denuncia.ascx" tagname="Denuncia" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMenuSinistro" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderContenuto" Runat="Server">
    
    <uc1:Denuncia ID="Denuncia1" runat="server" />
    
</asp:Content>

