<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BarCodeGenerator.aspx.cs" Inherits="Cpt_BarCodeGenerator" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head id="Head1" runat="server">
    <title>Protocollo notifica</title>
</head>
<body>
</body>