<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CptStampaCodiceNotifica.aspx.cs" Inherits="CptStampaCodiceNotifica" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Protocollo notifica</title>
</head>
<body onload="javascript:window.print();window.close();">
<!--<body>-->
    <form id="form1" runat="server">
    <div>
    
    <center>
        &nbsp;</center>
        <center>
            &nbsp;</center>
        <center>
            &nbsp;</center>
        <center>
            &nbsp;</center>
        <center>
            &nbsp;</center>
        <center>
            &nbsp;</center>
        <center>
            &nbsp;</center>
        <center>
            &nbsp;</center>
        <center>
            &nbsp;</center>
        <center>
        &nbsp;
                <br />
        </center>
        <center>
            &nbsp;</center>
        <center>
                <br />
                <br />
        <asp:Label ID="LabelIdNotifica" runat="server" Font-Bold="True" Font-Size="XX-Large"></asp:Label>&nbsp;</center>
        <center>
            <asp:Label ID="LabelBarreNotifica" runat="server" Font-Bold="True" Font-Names="IDAutomation.com Code39"
                Font-Size="XX-Large"></asp:Label><br />
            &nbsp;<img runat="server" src="~/Cpt/BarCodeGenerator.aspx?idNotifica=PROVA" ID="Img1" height="100" />&nbsp;<br />
                <br />
            &nbsp;</center>
    
    </div>
    </form>
</body>
</html>
