﻿<div class="footer fixed">
    <span class="siteYear pull-right">
        <span></span>
    </span>
    <span class="siteCustomer pull-right">
        <strong>Copyright</strong> <span></span> &copy;
    </span>
    <span class="siteTitle">
        <span></span>&nbsp;
    </span>
</div>
