﻿@using System.Configuration
@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <base href="@Url.Content("~/")" />

    @Styles.Render("~/styleBundle/myStyle")

    @Scripts.Render("~/scriptBundle/jquery")
    @Scripts.Render("~/scriptBundle/bootstrap")
    @Scripts.Render("~/scriptBundle/inspinia")
    @Scripts.Render("~/scriptBundle/kendo")
    @Scripts.Render("~/scriptBundle/commonModule")

    <script>
        commonModule.webApiBaseUrl = "@ConfigurationManager.AppSettings["WebApiBaseUrl"]";
        commonModule.appBaseUrl = "@Url.Content("~/")";
        kendo.culture("it-IT");
    </script>

    @Html.Partial("_AuthConfig")

    @RenderSection("scripts", false)

    <link rel="shortcut icon" type="image/x-icon" href="Content/MyApp/Images/Favicon/favicon.ico" />
</head>
<body class="pace-done skin-1 fixed-sidebar fixed-nav">
    <div id="wrapper">
        @Html.Partial("_Navigation")
        <div id="page-wrapper" class="gray-bg">
            @Html.Partial("_TopNavbar")
            @RenderBody()
            @RenderSection("inPageScripts", false)
            @Html.Partial("_Footer")
        </div>
    </div>
</body>
</html>