﻿<ul class="nav navbar-top-links navbar-right">
    <li>
        <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Benvenuto @(Membership.GetUser()?.UserName) </span>
    </li>
    <li>
        <a href="Home/Logout">
            <i class="fa fa-sign-out" style="color:black"></i> <span style="color:black"> Log out </span>
        </a>
    </li>
</ul>
