﻿@using Cemi.SiceInfo.Web.Helpers
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%;">
            <ul class="nav metismenu" id="side-menu" style="display: block;">
                <li class="nav-header">
                    <div class="logo-element">
                        CEMI
                    </div>
                </li>

                @*<li class="@Html.IsSelected("Test", "Index")"><a href="@Url.Action("Index", "Test")"><i class="fa fa-info"></i>Riepilogo</a></li>
        <li class="@Html.IsSelected("Test", "Anagrafica")"><a href="@Url.Action("Anagrafica", "Test")"><i class="fa fa-user"></i>Anagrafica</a></li>
        <li class="@Html.IsSelected("Test", "Prestazioni")"><a href="@Url.Action("Prestazioni", "Test")"><i class="fa fa-eur"></i>Prestazioni</a></li>
        <li class="@Html.IsSelected("Test", "Ore")"><a href="@Url.Action("Ore", "Test")"><i class="fa fa-hourglass-o"></i>Ore denunciate</a></li>
        <li class="@Html.IsSelected("Test", "Comunicazioni")"><a href="@Url.Action("Comunicazioni", "Test")"><i class="fa fa-mobile"></i>Comunicazioni</a></li>*@

                <li class="@Html.IsSelected()"><a href="@Url.Action("Index", "Cantieri")"><i class="fa fa-user"></i>Cantieri</a></li>

            </ul>
        </div>
    </div>
</nav>