﻿@using System.Configuration
<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0; @((ConfigurationManager.AppSettings["Environment"].ToUpper() != "PROD") ? "background-color: greenyellow !important" : "")">
        <div class="navbar-header col-md-6">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i> </a>
            <a href="@Url.Action("Index", "Home")">
                <img id="logo" alt="logo" src="~/Content/MyApp/Images/LogoSmall_2.png" class="logo-img">
            </a>
        </div>
        <div class="navbar-brand">
            @((ConfigurationManager.AppSettings["Environment"].ToUpper() != "PROD") ? "  -- TEST // TEST --" : "")
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>