﻿@{
    ViewBag.Title = "Forbidden";
}

<div class="middle-box text-center animated fadeInDown">
    <div>
        <div>

            @*<h2 class="logo-name">Fincantieri</h2>*@
            <img alt="logo" src="Content/MyApp/Images/logoBig.png" />

        </div>
        <br />
        <h1>403</h1>
        <br />
        <h3 class="font-bold">Utente non autorizzato</h3>
        <div>
            Non si dispongono delle autorizzazioni necessarie per accedere alla risorsa desiderata.
        </div>
    </div>
</div>