﻿@{
    ViewBag.Title = "Error";
}

<div class="middle-box text-center animated fadeInDown">
    <div>
        <div>

            @*<h2 class="logo-name">Fincantieri</h2>*@
            <img alt="logo" src="Content/MyApp/Images/logoBig.png" />

        </div>
        <br />
        <h1>500</h1>
        <br />
        <h3 class="font-bold">Internal Server Error</h3>
        <div>
            Si è verificato un errore lato server. Contattare l'amministratore e riprovare più tardi
        </div>
    </div>
</div>