﻿@{
    ViewBag.Title = "404 - Not found";
}

<div class="middle-box text-center animated fadeInDown">
    <div>
        <div>

            @*<h2 class="logo-name">Fincantieri</h2>*@
            <img alt="logo" src="Content/MyApp/Images/logoBig.png" />
        </div>

        <br />
        <h1>404</h1>
        <br />
        <h3 class="font-bold">Risorsa non trovata</h3>
        <div>
            La risorsa cercata non è disponibile o non esiste più a questa URL.
        </div>

    </div>
</div>