﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="DatiAnagrafici.aspx.cs" Inherits="AnagraficaLavoratori_DatiAnagrafici" %>

<%@ Register src="WebControls/DatiAnagraficiDettagli.ascx" tagname="DatiAnagraficiDettagli" tagprefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MenuDettaglio" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainPage" Runat="Server">
    <uc1:DatiAnagraficiDettagli ID="DatiAnagraficiDettagli1" runat="server" />
            <br />
    <asp:Button
        ID="ButtonIndietro" 
        runat="server"
        Text="Torna alla scheda"
        Width="150px" onclick="ButtonIndietro_Click" />
</asp:Content>




